<!-- Header -->
<div class="header" ng-controller="loginController">
	<div class="logo" ng-init="getUserProfile()">
		<a href="" ng-click="redirectLanding()"><img src="images/l-o-g-o@2x.png"></a>
	</div>
	<!-- <div class="search-bar">
		<input type="search-bar" name="" class="search-bar__input">
		<button class="search-button">Search</button>
	</div> -->
	<div class="profile_details">
		<!-- <p><a href="#/cart-description">CART</a></p>
		<p><a href="#/product-description">Account-name</a></p> -->
		<div class="user__login" ng-show="not__logged">
			<p><a href="#loginmodal" data-toggle="modal">Login  /</a></p>
			<p><a href="#signupmodal" data-toggle="modal">Register</a></p>
		</div>

		<div class="myaccount myaccount-font" ng-show="show_myaccnt">
			<div class="dropdown">
				<div class="dropdown__myaccount" id="menu1" type="button" >
				 <div class="user_image" style="background-image: url('images/user_avatar.png')" ng-show="hideAvatar">
				 </div>
					<div class="user_image" style="background-image: url({{userDetails.image_url}})" ng-hide="hideAvatar"></div>
					{{userName}}
				 	<span class="caret"></span>
				</div>
				<div class="dropdown__list">
				 	<p><a href="#/myaccount" ng-click="getUserProfile()">My Account</a></p>
					<p><a href="" ng-click="logout()">Logout</a></p>
				</div>
		 	</div>
		</div>

		<a ng-click="ourMenu()" style="margin-top: 5px;cursor:pointer;">
			<img src="images/basket@2x.png" height="30px" ng-click="getcartItems()">
		</a>
		<p class="cart-with-num" ng-hide="hideCartValue">
			<span>{{cartLength}}</span>
		</p>

	</div>
</div>
