  <div class="" id="scroll-menu-fixed">
    <!-- Header -->
<div class="header" ng-controller="loginController">
	<div class="logo">
		<a href="" ng-click="redirectLanding()"><img src="images/l-o-g-o@2x.png"></a>
	</div>
	<!-- <div class="search-bar">
		<input type="search-bar" name="" class="search-bar__input">
		<button class="search-button">Search</button>
	</div> -->
	<div class="profile_details">
		<!-- <p><a href="#/cart-description">CART</a></p>
		<p><a href="#/product-description">Account-name</a></p> -->
		<div class="user__login" ng-show="not__logged">
			<p><a href="#loginmodal" data-toggle="modal">Login  /</a></p>
			<p><a href="#signupmodal" data-toggle="modal">Register</a></p>
		</div>

		<div class="myaccount myaccount-font" ng-show="show_myaccnt">
			<div class="dropdown">
			 <!-- <p class="dropdown__myaccount" id="menu1" type="button" ng-if="userName">{{userName}}
			 <span class="caret"></span></p> -->
			 <p class="dropdown__myaccount" id="menu1" type="button" >{{getEmailId}}
			 <span class="caret"></span></p>
			 <div class="dropdown__list">
			 	<p><a href="#/myaccount" ng-click="getUserProfile()">My Account</a></p>
				<p><a href="" ng-click="logout()">Logout</a></p>
			 </div>
		 </div>
		 <!-- <p><a href="" ng-click="logout()">Logout</a></p> -->
		</div>

		<a href="#/search-page" style="margin-top: 5px;"><img src="images/basket@2x.png" height="30px" ng-click="getcartItems()"></a>
		<p class="cart-with-num">
			<span>{{cartLength}}</span>
		</p>

	</div>
</div>

  </div>

  <div class="container myaccount-main" ng-init="tabsMyaccount()">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked admin-menu">
                <li class="active"><a href="#" data-target-id="homes" ng-click="getUserProfile()"><i class="fa fa-home fa-fw"></i>My Profile</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="Profile"><i class="fa fa-list-alt fa-fw"></i>Change Password</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="Activity" ng-click="getOrdersByUserId()"><i class="fa fa-file-o fa-fw"></i>Order Details</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="Address" ng-click="getAddressMyAccount()"><i class="fa fa-bar-chart-o fa-fw"></i>Address Details</a></li>
                <!-- <li><a href="http://www.jquery2dotnet.com" data-target-id="Messaging"><i class="fa fa-table fa-fw"></i>Messaging</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="InstallationJobs"><i class="fa fa-tasks fa-fw"></i>Installation Jobs</a></li>
                <li><a href="http://www.jquery2dotnet.com" data-target-id="Settings"><i class="fa fa-cogs fa-fw"></i>Settings</a></li> -->
            </ul>
        </div>
        <div class="col-md-9 well admin-content" id="homes">
            <p>
                Name : {{userName}}
            </p>
              <p>  Email id : {{userEmail}}</p>


        </div>
        <div class="col-md-9 well admin-content" id="Profile">
            <form ng-submit="changePassword()" class="col-lg-6">
                  <div class="form-group">
                    <label for="usr">Old Password:</label>
                    <input type="password" class="form-control" ng-model="oldPassword" id="usr">
                  </div>
                  <div class="form-group">
                    <label for="pwd">New Password:</label>
                    <input type="password" class="form-control" ng-model="newPassword" id="pwd">
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
              </form>
        </div>
        <div class="col-md-9 well admin-content" id="Activity">
          <div class="row">
     <div class="col-md-12">
         <div class="panel panel-default">
             <div class="panel-heading">
                 <h3 class="text-center"><strong>Order summary</strong></h3>
             </div>
             <div class="panel-body">
                 <div class="table-responsive">
                     <table class="table table-condensed" >
                         <thead>
                             <tr>
                                 <td><strong>Order Id</strong></td>
                                 <td><strong>Order Date</strong></td>
                                 <td><strong>Item Name</strong></td>
                                 <!-- <td class="text-center"><strong>Item Price</strong></td> -->
                                 <td class="text-center"><strong>Item Quantity</strong></td>
                                 <td class="text-right"><strong>Total</strong></td>
                             </tr>
                         </thead>
                         <tbody ng-repeat="orderAmount in orderHistory">
                             <tr ng-repeat="orders in orderAmount.itmes">
                               <td>{{orderAmount._id}}</td>
                               <td>{{orderAmount.orderDate}}</td>
                                 <td>{{orders.product.name}}</td>
                                 <!-- <td class="text-center">$900</td> -->
                                 <td class="text-center">{{orders.quantity}}</td>
                                 <td class="text-right">{{orders.totalProductAmount}}</td>
                             </tr>

                             <!-- <tr>
                                 <td class="highrow"></td>
                                 <td class="highrow"></td>
                                 <td class="highrow text-center"><strong>Subtotal</strong></td>
                                 <td class="highrow text-right">$958.00</td>
                             </tr> -->
                             <!-- <tr>
                                 <td class="emptyrow"></td>
                                 <td class="emptyrow"></td>
                                 <td class="emptyrow text-center"><strong>Shipping</strong></td>
                                 <td class="emptyrow text-right">$20</td>
                             </tr> -->
                             <!-- <tr >
                                 <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                                 <td class="emptyrow"></td>
                                 <td class="emptyrow text-center"><strong>Total</strong></td>
                                 <td class="emptyrow text-right"></td>
                             </tr> -->
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>

        <div class="col-md-9 well admin-content" id="Address">
          <!-- get address -->
          <div class="address-box" style="width: 17%;" ng-repeat="getMyAddress in getAddressByUserId ">
            <div class="close-button-address" ng-click="deleteAddress(getMyAddress._id)"><img src="images/close.svg"  type="image/svg+xml" /></div>
            <img class="edit-button-address" ng-click="getAddressIdToEdit(getMyAddress._id)" src="images/pencil.svg"  type="image/svg+xml" />
            <form class="form-inline" style="display: flex;padding: 12px;justify-content: flex-start;border-bottom: solid 1px #e40046;">
              <label class="radio-inline">
                {{getMyAddress.addressType}}
                <!-- <input type="radio" name="optradio" ng-model="isChecked" ng-click="selectedAddress(getMyAddress._id,getMyAddress.addressType)">{{getMyAddress.addressType}} -->
            </label>
            </form>
            <div class="address-content">
              <p>
                {{getMyAddress.houseNo}},{{getMyAddress.name}}
              </p>
              <p>
              {{getMyAddress.streetName}},{{getMyAddress.landmark}},
              </p>
              <p>
                {{getMyAddress.city}},{{getMyAddress.country}}
              </p>
            </div>
          </div>
          <!-- get address -->
          <!-- edit address -->
          <form ng-submit="editAddress()" class="col-lg-10" ng-show="showEditAddressFields">
                <div class="form-group col-lg-6">
                  <label for="usr">name:</label>
                  <input type="text" class="form-control" ng-model="name" id="usr">
                </div>
                <div class="form-group col-lg-6">
                  <label for="pwd">houseNo:</label>
                  <input type="text" class="form-control" ng-model="houseNo" id="pwd">
                </div>
                <div class="form-group col-lg-6">
                  <label for="pwd">streetName:</label>
                  <input type="text" class="form-control" ng-model="streetName" id="pwd">
                </div>
                <div class="form-group col-lg-6">
                  <label for="pwd">landmark:</label>
                  <input type="text" class="form-control" ng-model="landmark" id="pwd">
                </div>
                <div class="form-group col-lg-6">
                  <label for="pwd">companyName:</label>
                  <input type="text" class="form-control" ng-model="companyName" id="pwd">
                </div>
                <!-- <div class="form-group col-lg-6">
                  <label for="pwd">officeNumber:</label>
                  <input type="text" class="form-control" ng-model="officeNumber" id="pwd">
                </div> -->
                <div class="form-group col-lg-6">
                  <label for="pwd">mobileNumber:</label>
                  <input type="text" class="form-control" ng-model="mobileNumber" id="pwd">
                </div>
                <div class="form-group col-lg-6">
                  <label for="pwd">landLineNumber:</label>
                  <input type="text" class="form-control" ng-model="landLineNumber" id="pwd">
                </div>
                <div class="form-group col-lg-6">
                  <label for="pwd">pinCode:</label>
                  <input type="text" class="form-control" ng-model="pinCode" id="pwd">
                </div>
                <div class="form-group col-lg-6">
                  <label for="pwd">city:</label>
                  <input type="text" class="form-control" ng-model="city" id="pwd">
                </div>
                <div class="form-group col-lg-6">
                  <label for="pwd">state:</label>
                  <input type="text" class="form-control" ng-model="state" id="pwd">
                </div>
                <div class="form-group col-lg-6">
                  <label for="pwd">country:</label>
                  <input type="text" class="form-control" ng-model="country" id="pwd">
                  <br/>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

            </form>
          <!-- edit address -->
        </div>
        <!-- <div class="col-md-9 well admin-content" id="Messaging">
            Table
        </div>
        <div class="col-md-9 well admin-content" id="InstallationJobs">
            Forms
        </div>
        <div class="col-md-9 well admin-content" id="Settings">
            Settings
        </div> -->
    </div>
</div>
