<div class="search-order-section">
	<div class="search-page">
		<div class="search-page__header" id="sub-menu1">
		  <!-- Header -->
<div class="header" ng-controller="loginController">
	<div class="logo">
		<a href="" ng-click="redirectLanding()"><img src="images/l-o-g-o@2x.png"></a>
	</div>
	<!-- <div class="search-bar">
		<input type="search-bar" name="" class="search-bar__input">
		<button class="search-button">Search</button>
	</div> -->
	<div class="profile_details">
		<!-- <p><a href="#/cart-description">CART</a></p>
		<p><a href="#/product-description">Account-name</a></p> -->
		<div class="user__login" ng-show="not__logged">
			<p><a href="#loginmodal" data-toggle="modal">Login  /</a></p>
			<p><a href="#signupmodal" data-toggle="modal">Register</a></p>
		</div>

		<div class="myaccount myaccount-font" ng-show="show_myaccnt">
			<div class="dropdown">
			 <!-- <p class="dropdown__myaccount" id="menu1" type="button" ng-if="userName">{{userName}}
			 <span class="caret"></span></p> -->
			 <p class="dropdown__myaccount" id="menu1" type="button" >{{getEmailId}}
			 <span class="caret"></span></p>
			 <div class="dropdown__list">
			 	<p><a href="#/myaccount" ng-click="getUserProfile()">My Account</a></p>
				<p><a href="" ng-click="logout()">Logout</a></p>
			 </div>
		 </div>
		 <!-- <p><a href="" ng-click="logout()">Logout</a></p> -->
		</div>

		<a href="#/search-page" style="margin-top: 10px;"><img src="images/basket@2x.png" height="26px" ng-click="getcartItems()"></a>
		<p>
			{{cartLength}}
		</p>

	</div>
</div>

		</div>
		<div class="search-page-menu sub-menu" id="sub-menu">
			<div class="sub-menu__search">
				<img src="images/search-icon@2x.png" class="search-icon" ng-click="autocompleteSearch(searchitem)">
				<input type="search" class="cart__search" ng-model="searchitem" ng-change="autocompleteSearch(searchitem)" placeholder="Find The Things What You Want Here" >
			</div>
			<div class="sub-menu__favorites">
				<img src="images/heart-icon@2x.png" style="cursor:pointer;" ng-click="wishListShow()">
				<p>favorites</p>
			</div>
			<p>
				<ul class="search-list-dropdown">
					<li ng-show="hideAutocomplete" ng-repeat="items in searchAutocompleteId" ng-click="searchList(items._id)">{{items._id}}</li>
				</ul>
			</p>
		</div>
		<div class="search-page__tab-menu" style="display: flex;justify-content: space-between;">
			<ul class="search-page__tab-list" id="tabs-menu" ng-repeat="categories in getCategoryList">
				<li id="navMenu"><a style="cursor:pointer;" data-toggle="tab" ng-class="{'active' : categories.name == categoryNames}" ng-click="setActiveTab(categories._id,categories.name)" > {{categories.name}}</a></li>
				<!-- <li><a href="#lunch-tab" data-toggle="tab">All Day Meals</a></li>
				<li><a href="#dinner-tab" data-toggle="tab"> Banquet For 2</a></li>
				<li><a href="#salads-tab" data-toggle="tab"> Add-ons</a></li>
				<li><a href="#rolls-tab" data-toggle="tab">Soups & Broth</a></li>
				<li><a href="#rolls-tab" data-toggle="tab">Krazy Toss</a></li>
				<li><a href="#rolls-tab" data-toggle="tab"> Dessert/Yogurt/Beverages</a></li>
				<button type="button" name="button">view all</button> -->
			</ul>
			<div class="nav-arrow left-arrow" id="next">
				<p id="next">></p>
			</div>
			<div class="nav-arrow right-arrow"id="prev">
				<p id="prev" ng-click="scrollLeft()"><</p>
			</div>
		</div>
		<div class="search-secction">
			<div class="search-secction__content" ng-repeat="results in search_result" ng-show="searchPagelist">
				<div class="search-secction__data">
					<div class="search-section__image">
						<div class="image__thumbnail" style="background-image:url({{results.mainImageUrl}})">
						</div>
					</div>
					<div class="search-section__description">
						<p class="product-name">{{results.name}}</p>
						<p class="product-sub-title">{{results.description}}</p>
							<div class="product-view">
									<img src="images/heart-icon-black.png" ng-click="addWishList(results._id)">
									<p id="view-more" ng-click="showdiv = !showdiv">Know More</p>
							</div>
					</div>
					<p class="product-price">{{results.salePrice}}<span>AED</span></p>
					<div class="search-secction__buttons">
						<button type="button" name="button" ng-click="addToCart(results._id)">Add to Cart</button>
					</div>
				</div>
				<div class="description__section" ng-show="showdiv">
					<div class="description__section--header">
						<div class="description-list">
							<p>Product Description</p>
							<!-- <span>|</span>
							<p>Prep time:30 min</p>
							<span>|</span>
							<p>Calories: 100 Kcal</p> -->

						</div>
					</div>
					<div class="description__section--content">
						<!-- <p class="product-name">Product Description </p> -->
						<p class="product-sub-title">
							{{results.description}}
						</p>
					</div>
				</div>
			</div>

			<!-- Wish list -->
			<div class="search-secction__content wish-list" ng-show="show_wishlist" ng-repeat="wishLists in getWishlistData">
				<div class="search-secction__data" >
					<div class="search-section__image">
						<div class="image__thumbnail" style="background-image:url({{wishLists.product.mainImageUrl}})">
						</div>
					</div>
					<div class="search-section__description">
						<p class="product-name">{{wishLists.product.name}}</p>
						<p class="product-sub-title">{{wishLists.product.description}}</p>
							<div class="product-view">
									<!-- <img src="images/heart-icon-black.png" > -->
									<p id="view-more" ng-click="showdiv = !showdiv">Know More</p>
							</div>
					</div>
					<p class="product-price">{{wishLists.product.salePrice}}<span>AED</span></p>
					<div class="search-secction__buttons">
						<button type="button" name="button" ng-click="addToCart(wishLists._id)">Add to Cart</button>
					</div>
				</div>
				<div class="description__section" ng-show="showdiv">
					<div class="description__section--header">
						<div class="description-list">
							<p>Product Description</p>
							<!-- <span>|</span>
							<p>Prep time:30 min</p>
							<span>|</span>
							<p>Calories: 100 Kcal</p> -->

						</div>
					</div>
					<div class="description__section--content">
						<!-- <p class="product-name">Product Description </p> -->
						<p class="product-sub-title">
							{{wishLists.product.name}}
						</p>
					</div>
				</div>
			</div>
			<!-- wish list end-->
			<!-- menu result -->
			<div class="search-secction__content wish-list" ng-show="showMenuResult" ng-repeat="list in allProducts | filter:{cat:categoryNames}:true">
				<div class="search-secction__data" >
					<div class="search-section__image">
						<div class="image__thumbnail" style="background-image:url({{list.mainImageUrl}})">
						</div>
					</div>
					<div class="search-section__description">
						<p class="product-name">{{list.name}}</p>
						<p class="product-sub-title">{{list.description}}</p>
							<div class="product-view">
									<img src="images/heart-icon-black.png" ng-click="addWishList(list._id)">
									<p id="view-more" ng-click="showdiv = !showdiv">Know More</p>
							</div>
					</div>
					<p class="product-price">{{list.salePrice}}<span>AED</span></p>
					<div class="search-secction__buttons">
						<button type="button" name="button" ng-click="addToCart(list._id)">Add to Cart</button>
					</div>
				</div>
				<div class="description__section" ng-show="showdiv">
					<div class="description__section--header">
						<div class="description-list">
							<p>Product Description </p>
							<!-- <span>|</span>
							<p>Prep time:30 min</p>
							<span>|</span>
							<p>Calories: 100 Kcal</p> -->

						</div>
					</div>
					<div class="description__section--content">
						<!-- <p class="product-name">Product Description </p> -->
						<p class="product-sub-title">
							{{list.description}}
						</p>
					</div>
				</div>
			</div>
			<!-- menu result -->
		</div>
		<!-- Footer -->
<footer>
  <div class="footer-menu">
    <div class="footer-menu__breakfast">
      <ul class="footer-menu__breakfast--list ">
        <li>Breakfast</li>
        <li>Choco's</li>
        <li>Dosa</li>
        <li>Toast</li>
        <li>Pizza</li>
      </ul>
    </div>
    <div class="footer-menu__lunch">
      <ul class="footer-menu__lunch--list ">
        <li>Lunch</li>
        <li>North Indian</li>
        <li>South Indian</li>
        <li>Chinese</li>
        <li>Briyani</li>
      </ul>
    </div>
    <div class="footer-menu__dinner">
      <ul class="footer-menu__dinner--list ">
        <li>Dinner</li>
        <li>Choco's</li>
        <li>Dosa</li>
        <li>Toast</li>
        <li>Pizza</li>
      </ul>
    </div>
    <div class="footer-menu__salad">
      <ul class="footer-menu__salad--list ">
        <li>Salad</li>
        <li>Choco's</li>
        <li>Dosa</li>
        <li>Toast</li>
        <li>Pizza</li>
      </ul>
    </div>
    <div class="footer-menu__rolls">
      <ul class="footer-menu__rolls--list ">
        <li>Rolls</li>
        <li>Choco's</li>
        <li>Dosa</li>
        <li>Toast</li>
        <li>Pizza</li>
      </ul>
    </div>
  </div>
  <div class="footer-logos">
    <div class="footer-logos__company">
      <img src="images/footer-logo-icon.png" alt="" />
      <img src="images/footer-logo.png" alt="" />
    </div>
    <div class="footer-logos__payment">
      <img src="images/pay-pal-logo@3x.png" alt="" />
      <img src="images/visa-logo@3x.png" alt="" />
      <img src="images/master-card-logo@3x.png" alt="" />
    </div>
    <div class="footer-logos__social-icons">
      <img src="images/facebook-icon@3x.png" alt="" />
      <img src="images/google-icon@3x.png" alt="" />
      <img src="images/twitter-icon@3x.png" alt="" />
      <img src="images/r-s-s-icon@3x.png" alt="" />
    </div>
  </div>
</footer>

	</div>

	<div class="order-section">
		<div class="">
			<div class="cart-section__header">
				<p>Mycart</p>
				<a href="#/search-page"><img src="images/basket@2x.png" height="26px" ng-click="getcartItems()">
					{{cartLength}}
				</a>
			</div>
			<div class="cart-section__sub-header">
				<ul class="cart-header__list">
					<li>Item</li>
					<li>Quantity</li>
					<li>Rate</li>
					<li></li>
				</ul>
			</div>
			<div class="cart-section__data" ng-repeat="cartList in allCartItems">
				<!-- <p>{{cartList.product.name}}</p> ng-repeat="cartList in allCartItems"-->
				<p class="product-item__name">{{cartList.product.name}}</p>
				<div class="cart__quantity">
					<input type="Button" id='minusButton' value="-" ng-click="updateCartByDecrementing(cartList.quantity, cartList._id)" />
					<input type="text" name="TextBox" id="TextBox" class="textbox" ng-value="cartList.quantity" ng-model="cartList.quantity" />
					<input type="Button" id='AddButton' value="+" ng-click="updateCartByIncrement(cartList.quantity, cartList._id)"/>
				</div>
				<p class="product-cart__price"><span>AED</span>{{cartList.product.salePrice * cartList.quantity}}</p>
				<!-- <p>{{cartList.product.salePrice}}</p> -->
				<div class="cancel-button" style="cursor:pointer">
					<img src="images/close-button@2x.png" alt="" ng-click="deleteCart(cartList._id,cartList.quantity)"/>
				</div>
			</div>
		</div>
		<div class="cart-section__footer">
			<div class="total-section">
				<p>Total</p>
				<p class="total-section__cost"><span>AED</span>{{totalCost}}</p>
			</div>
			<button type="button" ng-click="checkout()" name="button">Checkout</button>
		</div>
	</div>
</div>
