/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
body {
    background: #fff;
    color: #ced9e0;
    font-family: $font-OpenSans;
}

a {
    color: $color-gray;
}
a:hover {
    color: #ced9e0;
}
input {
  outline: none;
}

.clear-margin {margin: 0px;}


.ng-toast.ng-toast--right .ng-toast__list{
  margin-right: 244px !important;
  margin-top: -40px !important;
}
.ng-toast {
      margin-top: 67px !important;
}
button{
      outline: none;
}

.carousel-control.left,
.carousel-control.right {
  background: none !important;
}
