.header {
	background-color: #e40046;
	height: 97px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 75px;
}

.logo {
	img {
		height:30px;
	}
}

.search-bar__input {
	width:390px;
	height:30px;
}

.search-button {
	width: 90px;
	height: 35px;
	background-color:black;
	color:white;
	border:none;
}

.profile_details {
	display:flex;
	justify-content: space-around;

	p {
	   margin-left:4px;
     a{
       color: white;
       text-decoration: none;
     }
	}

	img {
		margin-left: 10px;
		margin-top: -5px;
	}
}
