.header {
	background-color: #e40046;
	height: 97px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 75px;
}

.logo {
	img {
		height:30px;
	}
}

.search-bar__input {
	width:390px;
	height:30px;
}

.search-button {
	width: 90px;
	height: 35px;
	background-color:black;
	color:white;
	border:none;
}

.profile_details {
	display:flex;
	justify-content: space-around;

	p {
	   margin-left:4px;
     a{
       color: white;
       text-decoration: none;
     }
	}

	img {
		margin-left: 10px;
		margin-top: -5px;
	}
}
.user__login {
	display: flex;
	font-family: Lato;
	font-size: 15px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	margin-top: 10px;
}
.dropdown {
	position: relative;
  display: inline-block;
	p{
		color: #fff;
	}
}

.dropdown__list {
	display: none;
  position: absolute;
  background-color: rgba(130, 76, 95, 0.76);
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown__list {
    display: block;
		z-index: 1;
}
