/* -----------------------------------------------------------------------
Version: 0.1

SMACSS [Scalable Modular Architecture for CSS]
Reference: http://smacss.com/

Categorizing:
1. Base  - Defaults elements, attribute selectors, pseudo-class selectors styling [example: body, form, a]
2. Layout  - Divide the page into sections [example: header, footer] [prefix: l-]
3. Modules - Reusable, Modular parts of design [example: sidebar, popup] [prefix: module-]
4. State - How our module or layouts look in particular state [example: expanded, active] [prefix: is-]
5. Theme - Look and feel of subcomponent based on theme [example: dark, light] [prefix: theme-]
6. Pages   - Page specific styles. [prefix: page-]
----------------------------------------------------------------------- */
/*-------------------------------------------------
MASTER: IMPORTING STYLESHEETS
-------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colors */
/* Font */
/*
TODO ::
[] Integrate Bourbon to make use of most mixins - http://bourbon.io/docs/
*/
/*-------------------------------------------------
 MIXIN :: CLEARFIX
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: PIXEL TO EM CONVERTOR
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: BORDER RADIUS
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: TRANSITION
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: BOX SHADOW
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: SCALE - TRANSFORM
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: ROTATE - TRANSFORM
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: FONT STYLE
-------------------------------------------------*/
/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
body {
  background: #fff;
  color: #ced9e0;
  font-family: "Open Sans", "Arial", sans-serif; }

a {
  color: #5A5F62; }

a:hover {
  color: #ced9e0; }

.header {
  background-color: #e40046;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; }

.logo img {
  height: 40px; }

.search-bar__input {
  width: 390px;
  height: 30px; }

.search-button {
  width: 90px;
  height: 35px;
  background-color: black;
  color: white;
  border: none; }

.profile_details {
  display: flex;
  justify-content: space-around; }
  .profile_details p {
    margin-left: 20px; }
    .profile_details p a {
      color: white;
      text-decoration: none; }

/*-------------------------------------------------
SMACSS: LAYOUT - COMMON
-------------------------------------------------*/
header,
section,
footer {
  max-width: 800px;
  margin: 50px auto; }

/*-------------------------------------------------
SMACSS: LAYOUT - HEADER
-------------------------------------------------*/
header {
  border-top: 2px solid #e85151;
  padding: 10px;
  color: #e85151; }
  header .title {
    font-size: 1.875em; }
  header .caption {
    padding-top: 10px;
    font-size: 14px; }

/*-------------------------------------------------
SMACSS: LAYOUT - SECTION
-------------------------------------------------*/
section {
  padding: 40px 20px;
  color: #fff;
  font-size: 4.375em;
  font-weight: 300; }

/*-------------------------------------------------
SMACSS: LAYOUT - FOOTER
-------------------------------------------------*/
footer {
  color: #5A5F62;
  font-size: 11px;
  text-align: center;
  padding: 10px;
  width: 100%; }

/*-------------------------------------------------
SMACSS: PAGE - LANDING
-------------------------------------------------*/
.prodcut-section {
  display: flex; }

.prodcut-section__image {
  background-color: white;
  height: 550px;
  width: 50%;
  border-radius: 3px;
  margin: 20px 1px 20px 20px;
  border: 1px solid #efefef; }

.prodcut-section__data {
  background-color: white;
  height: 550px;
  width: 50%;
  border-radius: 3px;
  margin: 20px 20px 20px 0px;
  border: 1px solid #efefef; }

.desctiion-data {
  display: flex; }

.Item-details {
  margin: 20px 20px 20px 20px;
  background-color: white;
  height: 200px;
  width: 80%;
  border: 2px solid; }

.side-bar {
  margin: 20px 20px 20px 0px;
  background-color: white;
  height: 200px;
  width: 20%; }

.tabs ul {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  border-bottom: solid 1px #efefef; }

.Products {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.products-items {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  width: 26%;
  height: 170px;
  margin: 12px 0; }

.products-items__thumbnail {
  width: 50%; }

.products-items__thumbnail--image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 94%;
  height: 108px; }

.products-items__data {
  padding: 10px;
  color: white;
  text-align: center; }
  .products-items__data button {
    width: 95px;
    height: 36px;
    border-radius: 13px;
    border: none;
    background-color: green;
    color: white; }

/*basic reset*/
* {
  margin: 0;
  padding: 0; }

/*form styles*/
#msform {
  margin: 50px auto;
  text-align: center;
  position: relative; }

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: absolute; }

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none; }

/*inputs*/
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #2196f3;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px; }

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #2196f3; }

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px; }

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px; }

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step; }

#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 9px;
  width: 25%;
  float: left;
  position: relative; }

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  font-size: 10px;
  color: #333;
  background: grey;
  border-radius: 50%;
  margin: 0 auto 5px auto; }

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: grey;
  position: absolute;
  left: -50%;
  top: 13px;
  z-index: -1;
  /*put it behind the numbers*/ }

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; }

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #2196f3;
  color: white; }

.product-details,
.product-details-button {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.product-quantity__count {
  width: 50px;
  height: 20px;
  padding: 5px; }

.delivery-address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 1px solid grey; }

.delivery-address--field {
  display: flex;
  flex-direction: column;
  width: 50%; }
  .delivery-address--field label {
    min-width: 200px;
    color: #000;
    text-align: start;
    margin-left: 5px; }
  .delivery-address--field input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 93%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    margin-top: 10px; }

.payment-details {
  display: flex;
  flex-direction: column;
  align-items: center; }

.Expiray-date-inputs {
  display: flex; }
  .Expiray-date-inputs input {
    width: 30%;
    margin-right: 6px; }

.order-success {
  color: #2196f3;
  font-size: 25px; }

@media (min-width: 768px) {
  .omb_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 25%; } }

.omb_login .omb_authTitle {
  text-align: center;
  line-height: 300%; }

.omb_login .omb_socialButtons a {
  color: white;
  opacity: 0.9; }

.omb_login .omb_socialButtons a:hover {
  color: white;
  opacity: 1; }

.omb_login .omb_socialButtons .omb_btn-facebook {
  background: #3b5998; }

.omb_login .omb_socialButtons .omb_btn-twitter {
  background: #00aced; }

.omb_login .omb_socialButtons .omb_btn-google {
  background: #c32f10; }

.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center; }

.omb_login .omb_loginForm .input-group.i {
  width: 2em; }

.omb_login .omb_loginForm .help-block {
  color: red; }

@media (min-width: 768px) {
  .omb_login .omb_forgotPwd {
    text-align: right;
    margin-top: 10px; } }
