@charset "UTF-8";
/* -----------------------------------------------------------------------
Version: 0.1

SMACSS [Scalable Modular Architecture for CSS]
Reference: http://smacss.com/

Categorizing:
1. Base  - Defaults elements, attribute selectors, pseudo-class selectors styling [example: body, form, a]
2. Layout  - Divide the page into sections [example: header, footer] [prefix: l-]
3. Modules - Reusable, Modular parts of design [example: sidebar, popup] [prefix: module-]
4. State - How our module or layouts look in particular state [example: expanded, active] [prefix: is-]
5. Theme - Look and feel of subcomponent based on theme [example: dark, light] [prefix: theme-]
6. Pages   - Page specific styles. [prefix: page-]
----------------------------------------------------------------------- */
/*-------------------------------------------------
MASTER: IMPORTING STYLESHEETS
-------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colors */
/* Font */
/*
TODO ::
[] Integrate Bourbon to make use of most mixins - http://bourbon.io/docs/
*/
/*-------------------------------------------------
 MIXIN :: CLEARFIX
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: PIXEL TO EM CONVERTOR
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: BORDER RADIUS
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: TRANSITION
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: BOX SHADOW
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: SCALE - TRANSFORM
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: ROTATE - TRANSFORM
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: FONT STYLE
-------------------------------------------------*/
/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
body {
  background: #fff;
  color: #ced9e0;
  font-family: "Open Sans", "Arial", sans-serif; }

a {
  color: #5A5F62; }

a:hover {
  color: #ced9e0; }

input {
  outline: none; }

.header {
  background-color: #e40046;
  height: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 75px; }

.logo img {
  height: 30px; }

.search-bar__input {
  width: 390px;
  height: 30px; }

.search-button {
  width: 90px;
  height: 35px;
  background-color: black;
  color: white;
  border: none; }

.profile_details {
  display: flex;
  justify-content: space-around; }
  .profile_details p {
    margin-left: 4px; }
    .profile_details p a {
      color: white;
      text-decoration: none; }
  .profile_details img {
    margin-left: 10px;
    margin-top: -5px; }

.user__login {
  display: flex; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown p {
    color: #fff; }

.dropdown__list {
  display: none;
  position: absolute;
  background-color: rgba(130, 76, 95, 0.76);
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px; }

.dropdown:hover .dropdown__list {
  display: block;
  z-index: 1; }

footer {
  background-color: #333333;
  color: grey;
  padding: 44px 80px 30px 80px; }

.footer-menu {
  display: flex;
  justify-content: space-between; }
  .footer-menu li:first-child {
    color: #fff;
    font-family: "Lato-Black";
    font-size: 10px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.6px; }
  .footer-menu li {
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #999999; }

.footer-menu__lunch,
.footer-menu__dinner,
.footer-menu__salad,
.footer-menu__rolls {
  object-fit: contain;
  border-left: solid 1px rgba(238, 238, 238, 0.1); }
  .footer-menu__lunch ul,
  .footer-menu__dinner ul,
  .footer-menu__salad ul,
  .footer-menu__rolls ul {
    margin-left: 20px; }

.footer-logos {
  display: flex;
  justify-content: space-between;
  margin-top: 34px; }
  .footer-logos img {
    height: 15px; }

.footer-logos__social-icons img {
  margin-right: 20px; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px; }

/*-------------------------------------------------
FONTS: FAMILY :: Lato-Regular
-------------------------------------------------*/
@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.ttf");
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*-------------------------------------------------
FONTS: FAMILY :: Lato-Bold
-------------------------------------------------*/
@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.ttf");
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*-------------------------------------------------
FONTS: FAMILY :: Lato-Light
-------------------------------------------------*/
@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.ttf");
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*-------------------------------------------------
FONTS: FAMILY :: Lato-Black
-------------------------------------------------*/
@font-face {
  font-family: 'Lato-Black';
  src: url("../fonts/Lato-Black.ttf");
  src: url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*-------------------------------------------------
FONTS: FAMILY :: Lato-semibold
-------------------------------------------------*/
@font-face {
  font-family: 'Lato-Semibold';
  src: url("../fonts/Lato-Semibold.ttf");
  src: url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*-------------------------------------------------
SMACSS: LAYOUT - COMMON
-------------------------------------------------*/
/*-------------------------------------------------
SMACSS: LAYOUT - HEADER
-------------------------------------------------*/
header {
  border-top: 2px solid #e85151;
  padding: 10px;
  color: #e85151; }
  header .title {
    font-size: 1.875em; }
  header .caption {
    padding-top: 10px;
    font-size: 14px; }

/*-------------------------------------------------
SMACSS: LAYOUT - SECTION
-------------------------------------------------*/
section {
  padding: 40px 20px;
  color: #fff;
  font-size: 4.375em;
  font-weight: 300; }

/*-------------------------------------------------
SMACSS: LAYOUT - FOOTER
-------------------------------------------------*/
/*-------------------------------------------------
SMACSS: PAGE - LANDING
-------------------------------------------------*/
.prodcut-section {
  display: flex; }

.prodcut-section__image {
  background-color: white;
  height: 550px;
  width: 50%;
  border-radius: 3px;
  margin: 20px 1px 20px 20px;
  border: 1px solid #efefef; }

.prodcut-section__data {
  background-color: white;
  height: 550px;
  width: 50%;
  border-radius: 3px;
  margin: 20px 20px 20px 0px;
  border: 1px solid #efefef; }

.desctiion-data {
  display: flex; }

.Item-details {
  margin: 20px 20px 20px 20px;
  background-color: white;
  height: 200px;
  width: 80%;
  border: 2px solid; }

.side-bar {
  margin: 20px 20px 20px 0px;
  background-color: white;
  height: 200px;
  width: 20%; }

.tabs ul {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  border-bottom: solid 1px #efefef; }

.Products {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.products-items {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  width: 26%;
  height: 170px;
  margin: 12px 0; }

.products-items__thumbnail {
  width: 50%; }

.products-items__thumbnail--image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 94%;
  height: 108px; }

.products-items__data {
  padding: 10px;
  color: white;
  text-align: center; }
  .products-items__data button {
    width: 95px;
    height: 36px;
    border-radius: 13px;
    border: none;
    background-color: green;
    color: white; }

.checkout-page {
  margin-top: 30px; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #6f9d2f !important;
  border-radius: 40px; }

.setup-panel--steps {
  padding: 0 !important;
  border-radius: 22px !important; }

.checkout-page__forms {
  padding: 20px;
  margin-bottom: 30px; }

.checkout-cart-header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee; }
  .checkout-cart-header__list li {
    font-family: "Lato-Bold";
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.2px;
    color: #515356; }

.checkout-cart__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0;
  margin-bottom: 20px; }

.checkout-cart__list-description {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.checkout-cart__quantity .textbox {
  width: 54px;
  height: 46px;
  border: 1px solid #dddddd;
  background-color: #fff;
  margin: 0 8px;
  text-align: center; }

.checkout-cart__quantity #minusButton,
.checkout-cart__quantity #addButton {
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); }

.checkout-page__buttons {
  width: 290px;
  height: 46px;
  object-fit: contain;
  border-radius: 40px;
  border: solid 1px #dddddd;
  background: none;
  font-family: "Lato-Regular";
  font-size: 20px;
  color: #b1b1b1; }
  .checkout-page__buttons:hover, .checkout-page__buttons:active {
    background-color: #fbad18;
    color: #fff; }

.checkout-page_total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 20px 10px; }
  .checkout-page_total .checkout-total_section {
    display: flex;
    width: 167px;
    justify-content: space-between; }

.process-button-section {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-bottom: 60px; }

.process-button-section__center {
  justify-content: center; }

.print-recipt__button {
  border: solid 1px #fbad18;
  color: #fbad18; }

.shipping__form {
  margin-bottom: 36px; }

.form-inputs {
  width: 425px;
  height: 46px;
  border: none;
  background-color: #eeeeee;
  margin-top: 20px;
  padding: 10px;
  font-family: "Lato-Bold";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1px;
  color: #b1b1b1; }

.Street-address {
  width: 854px; }

.thanks-message {
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  text-align: center;
  color: #b1b1b1; }

.checkout-page__address {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 36px; }

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 7px 15px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px; }

.dropdown {
  position: relative;
  display: inline-block;
  margin: 13px 12px 14px; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: #3e8e41; }

.modal-container {
  margin: 150px auto !important; }

.modal-container__body {
  padding: 30px 20px !important; }

.loginform {
  display: flex;
  justify-content: space-between; }

.loginForm__inputs {
  margin-top: 10px; }
  .loginForm__inputs input {
    background-color: #fff;
    border-radius: 2px;
    border: solid 1px #ceced2;
    font-size: 1em;
    font-family: "Lato-Regular";
    height: 32px;
    margin-bottom: 16px;
    padding-left: 11px;
    position: relative;
    width: 260px; }

.modal__submit {
  background-color: #e40046;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-family: "Lato-Bold";
  font-size: 1em;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 260px; }

.social-login__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.social-login__connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato-Bold";
  font-size: 0.75em;
  border-radius: 3px;
  height: 42px;
  text-transform: uppercase;
  width: 260px;
  margin-bottom: 15px; }

.facebook {
  background: #3b5998;
  color: #fff; }

.google {
  background: #f64925;
  color: #fff; }

.section-header-menu {
  background-color: #515356;
  opacity: 0.9;
  height: 36px;
  display: flex;
  justify-content: space-between;
  padding: 0 65px; }

.header-menu__list,
.search_favorites {
  display: flex;
  align-items: center; }
  .header-menu__list p,
  .search_favorites p {
    margin: 10px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-family: "Lato-Regular";
    cursor: pointer; }
    .header-menu__list p a,
    .search_favorites p a {
      color: white;
      text-decoration: none;
      cursor: pointer; }

.search_favorites img {
  height: 15px;
  cursor: pointer; }

.search-box {
  display: none;
  border: none;
  font-size: 18px;
  width: 86%;
  position: absolute;
  height: 36px;
  background-color: #fff;
  right: 14%;
  left: 0;
  padding: 0 35px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  outline: none; }

.close-icon {
  display: none;
  position: relative;
  height: 15px;
  cursor: pointer; }

.social-images {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 210px; }
  .social-images img {
    height: 18px; }

.fb-btn {
  width: 40px;
  background-color: #3c5a96; }
  .fb-btn:before {
    border-top: 0px solid #3c5a96;
    border-left: 18px solid #3c5a96; }
  .fb-btn:after {
    border-bottom: 0px solid #3c5a96;
    border-left: 18px solid #3c5a96; }
  .fb-btn p {
    display: none !important;
    color: white !important;
    font-size: 12px !important; }
  .fb-btn:hover {
    width: 90px; }
    .fb-btn:hover p {
      display: block !important;
      margin-top: 5px !important; }

.tw-btn {
  width: 41px;
  background-color: #59adeb; }
  .tw-btn:before {
    border-top: 0px solid #59adeb;
    border-left: 18px solid #59adeb; }
  .tw-btn:after {
    border-bottom: 0px solid #59adeb;
    border-left: 18px solid #59adeb; }
  .tw-btn p {
    display: none !important;
    color: white !important;
    font-size: 12px !important; }
  .tw-btn:hover {
    width: 100px; }
    .tw-btn:hover p {
      display: block !important;
      margin-top: 5px !important; }

.google-btn {
  width: 41px;
  background-color: #da5047; }
  .google-btn:before {
    border-top: 0px solid #da5047;
    border-left: 18px solid #da5047; }
  .google-btn:after {
    border-bottom: 0px solid #da5047;
    border-left: 18px solid #da5047; }
  .google-btn p {
    display: none !important;
    color: white !important;
    font-size: 12px !important; }
  .google-btn:hover {
    width: 90px; }
    .google-btn:hover p {
      display: block !important;
      margin-top: 5px !important; }

.instagram-btn {
  width: 41px;
  background-color: #ab4496;
  background: linear-gradient(to left, #c7357d, #8054b1); }
  .instagram-btn:before {
    border-top: 0px solid #c7357d;
    border-left: 18px solid #c7357d; }
  .instagram-btn:after {
    border-bottom: 0px solid #c7357d;
    border-left: 18px solid #c7357d; }
  .instagram-btn p {
    display: none !important;
    color: white !important;
    font-size: 12px !important; }
  .instagram-btn:hover {
    width: 90px; }
    .instagram-btn:hover p {
      display: block !important;
      margin-top: 5px !important; }

.fb-btn,
.tw-btn,
.google-btn,
.instagram-btn {
  margin-top: 5px;
  height: 30px;
  color: white;
  text-align: center;
  padding: 8px 0;
  position: relative;
  margin-left: -6px;
  transition: 0.3s margin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .fb-btn:before,
  .tw-btn:before,
  .google-btn:before,
  .instagram-btn:before {
    content: '';
    position: absolute;
    border-bottom: 18px solid transparent;
    width: 0;
    height: 0px;
    right: -18px;
    top: 0px;
    z-index: -1; }
  .fb-btn:after,
  .tw-btn:after,
  .google-btn:after,
  .instagram-btn:after {
    content: '';
    position: absolute;
    border-top: 18px solid transparent;
    width: 0;
    height: 0px;
    right: -18px;
    bottom: 0px;
    z-index: -1; }
  .fb-btn:hover,
  .tw-btn:hover,
  .google-btn:hover,
  .instagram-btn:hover {
    margin-left: 0px;
    display: flex;
    justify-content: space-between; }

.section-main-content {
  background-repeat: round; }

.section-content {
  height: 500px; }
  .section-content h2 {
    width: 356.6px;
    font-family: "Lato-Light";
    font-size: 52px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    color: #d92e4a; }
  .section-content p {
    width: 39%;
    display: inline-block;
    font-family: "Lato-Regular";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: #b1b1b1; }

.buy-now-button button {
  width: 160.3px;
  height: 40px;
  object-fit: contain;
  border-radius: 40px;
  background-color: #64922a;
  border: none;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .buy-now-button button img {
    height: 17px;
    margin-right: 18px; }

.slider-section {
  background-image: url(../images/slider-bg.png);
  height: 360px;
  background-repeat: round;
  padding: 10px 100px; }

.tab_section {
  background-image: url(../images/tab-section-bg.png);
  height: 779px;
  background-repeat: round;
  padding: 124px 100px; }
  .tab_section h1 {
    font-size: 52px;
    color: #fff;
    letter-spacing: -1.2px;
    font-weight: 300;
    font-family: "Lato-Light"; }

.menu-tabs__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0; }
  .menu-tabs__list li a {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.5px;
    font-family: "Lato-Black";
    font-weight: 900;
    text-transform: uppercase;
    font-style: normal;
    font-stretch: normal; }
  .menu-tabs__list a.active {
    color: #dbe272;
    border-bottom: 1px solid #dbe272;
    text-decoration: none; }
  .menu-tabs__list button {
    background: none;
    height: 36px;
    border: 1px solid;
    border-radius: 40px;
    border: solid 1px #dbe272;
    width: 117px;
    color: #dbe272; }

.menu-tabs__breakfast {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.breakfast-products {
  background-color: white;
  display: flex;
  min-width: 490px;
  width: 49%;
  height: 189px;
  margin-bottom: 20px; }

.breakfast-products__iamge {
  width: 78%;
  background-size: 100%;
  background-repeat: no-repeat; }

.breakfast-products__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .breakfast-products__content button {
    width: 130px;
    height: 36px;
    border-radius: 40px;
    border: none;
    background-color: #64922a;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .breakfast-products__content button img {
      height: 12px;
      margin-right: 10px;
      cursor: pointer; }

.products__description {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .products__description p {
    font-family: "Lato-Black";
    font-size: 12px;
    font-weight: 900;
    line-height: 1.17;
    color: #515356; }

.products__price {
  color: #d92e4a !important; }

.location-section {
  background-image: url(../images/location-services-bg.png);
  height: 760px;
  background-repeat: round;
  padding: 32px 100px; }

.location-section-heading {
  font-family: "Lato-Light";
  font-size: 52px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -1.2px;
  color: #333333;
  margin-bottom: 20px; }

.location-services {
  background-color: #dbe272;
  width: 100%;
  height: 590px;
  box-shadow: 0px 3px 5px 5px rgba(136, 136, 136, 0.11);
  display: flex; }

.location-services-heading {
  font-family: "Lato-Black";
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff; }

.location-search {
  width: 485px;
  height: 45.6px;
  padding: 10px;
  object-fit: contain;
  border-radius: 100px;
  background-color: #eff4f6;
  border: none;
  outline: none;
  background-image: url(../images/location-search.png);
  background-repeat: no-repeat;
  background-size: 3%;
  background-position: right 21px center; }

.location-services__search {
  width: 50%;
  padding: 35px 0 35px 35px; }

.location-search-places {
  display: flex;
  padding: 24px 0;
  border-bottom: 1px solid white; }
  .location-search-places img {
    height: 52px; }
  .location-search-places p {
    width: 157px;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: #474442; }
  .location-search-places:last-child {
    border-bottom: none; }

.search-place__address {
  width: 47%; }

.location-services__map {
  width: 53%;
  background-image: url(../images/map@3x.png);
  background-size: 107%;
  background-repeat: no-repeat;
  margin-top: -11px; }

.aboutus-section {
  background-color: #d42841;
  height: 468px;
  background-image: url(../images/aboutus-icon.png);
  background-repeat: no-repeat;
  background-size: 18%;
  background-position: right;
  padding: 72px 84px; }

.aboutus-section__content {
  padding: 52px 100px;
  display: flex;
  justify-content: space-between; }

.aboutus-description {
  width: 42%; }
  .aboutus-description h1 {
    font-size: 52px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: -1.3px;
    color: #ffffff;
    margin: 0; }

#descrption-1 {
  width: 530px;
  height: 84px;
  font-family: Lato-Regular;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #f8f8f8; }

#descrption-2 {
  width: 508px;
  height: 176px;
  font-family: Lato-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.2px;
  color: #f8f8f8; }

.aboutus-team {
  margin-top: 35px;
  width: 33%; }

.team-member__profile {
  display: flex; }

.team-member-image,
.team-member-image__thumbnail {
  width: 55px;
  height: 55px; }

.team-member-image {
  border: 1px solid #dddddd;
  border-radius: 100%;
  margin-right: 24px; }

.team-member-image__thumbnail {
  background-image: url(images/fish.png);
  background-size: 63%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%; }

.member-name {
  text-transform: uppercase;
  margin: 0; }

.member-name,
.member-designation {
  font-family: "Lato-Bold";
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #dbe272; }

.member-strength {
  width: 170px;
  font-family: "Lato-Regular";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #f8f8f8; }

.our-partners-section {
  height: 333px;
  object-fit: contain;
  background-color: #f3f7f8;
  padding: 34px 100px; }

.our-partners-title {
  font-family: "Lato-Light";
  font-size: 52px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: -1.3px;
  color: #474442; }

.our-partners-description {
  font-family: "Lato-Regular";
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #acbec6;
  margin: 20px 0; }

.partners-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px; }
  .partners-logos img {
    height: 25px; }

.app-store {
  background-image: url(../images/app-store-bg.png);
  height: 550px;
  background-repeat: round;
  padding: 36px 33px 0px 26px;
  display: flex; }

.app-store-mobile {
  margin-top: 11px;
  margin-left: 20px; }
  .app-store-mobile img {
    height: 540px; }

.app-store-content {
  padding: 27px 50px; }

.app-store-heading {
  width: 538px;
  font-family: "Lato-Light";
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.6px;
  color: #ffffff; }

.app-store-description {
  width: 453px;
  height: 132px;
  opacity: 0.8;
  font-family: "Lato-Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.2px;
  color: #ffffff; }

.app-store-buttons {
  display: flex;
  margin-top: 50px; }
  .app-store-buttons img {
    height: 50px;
    margin-right: 20px;
    cursor: pointer; }

.blog-section {
  background-image: url(../images/blog-bg.png);
  height: 508px;
  background-repeat: round;
  padding: 32px 100px; }

.blog-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .blog-section__header p {
    font-family: "Lato-Light";
    font-size: 52px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: -1px;
    color: #474442; }
  .blog-section__header button {
    width: 125px;
    height: 36.4px;
    border-radius: 40px;
    border: solid 1px #d42841;
    background: none;
    font-family: "Lato-Regular";
    font-size: 10px;
    letter-spacing: 2px;
    text-align: center;
    color: #d42841; }

.blog__content {
  display: flex; }

.blog__content__text {
  width: 50%;
  display: flex;
  justify-content: space-between; }

.content__text {
  padding: 0 30px; }

.content__text--heading {
  opacity: 0.5;
  font-family: "Lato-Regular";
  font-size: 24px;
  letter-spacing: -0.6px;
  color: #000000; }

.comments-location {
  display: flex;
  padding: 8px 0; }
  .comments-location li {
    opacity: 0.5;
    font-family: "Lato-Regular";
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #000000; }
    .comments-location li img {
      height: 10px; }

.blog-description {
  opacity: 0.5;
  font-family: "Lato-Regular";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #50545c; }

.blog__content__image img {
  height: 406px; }

#carousel-wrap {
  /* border: 1px solid #000; */
  width: 485px;
  overflow: hidden;
  text-align: center;
  left: 223px; }

#testimonial-list {
  overflow: hidden;
  /* padding: 10px; */
  width: 1600px;
  height: 94px;
  display: flex; }

#testimonial-list > li {
  overflow: hidden;
  padding: 0;
  width: 400px;
  display: flex; }

.carouselbox {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  width: 100px;
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden; }

.content {
  margin: 0;
  padding: 0; }

.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  z-index: 2; }

.buttons {
  display: none; }

.active .buttons {
  display: block;
  padding: 5px 0;
  background: #eee;
  z-index: 10;
  position: relative; }

.carouselbox button {
  border: none;
  visibility: hidden; }

.active button {
  visibility: visible; }

.offscreen {
  position: absolute;
  left: -2000px; }

.search-order-section {
  display: flex; }

.search-page {
  width: 70%; }

.search-list-dropdown {
  left: 7px;
  position: absolute;
  top: 143px;
  width: 50%;
  z-index: 1;
  width: 692px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
  .search-list-dropdown li {
    height: 40px;
    font-family: "Lato-Black";
    font-size: 13px;
    font-weight: 500;
    color: #000000;
    display: flex;
    align-items: center;
    padding: 20px; }
    .search-list-dropdown li:hover {
      background-color: #d8d8d8; }

.sub-menu {
  display: flex;
  height: 46px; }
  .sub-menu img {
    height: 15px; }

.sub-menu__search {
  background-color: #929396;
  width: 80%;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white; }

.cart__search {
  height: 35px;
  border: none;
  background: none;
  width: 100%;
  outline: none;
  color: white;
  margin-left: 15px; }

.sub-menu__favorites {
  display: flex;
  justify-content: space-around;
  color: white;
  width: 20%;
  text-align: center;
  background-color: #636467;
  align-items: center;
  padding: 0 32px; }
  .sub-menu__favorites p {
    margin: 0; }

.search-page__tab-menu {
  padding: 12px;
  height: 58px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(207, 207, 207, 0.5); }

.search-page__tab-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px; }
  .search-page__tab-list li a {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    font-family: "Lato-Semibold";
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0.6; }

.product-view {
  display: flex;
  align-items: center; }
  .product-view p {
    margin: 0 5px;
    cursor: pointer;
    color: #e40046; }
  .product-view img {
    cursor: pointer; }

.search-secction {
  height: auto;
  min-height: 900px; }

.search-secction__content {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 10px; }

.search-secction__data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 10px; }

.search-section__image,
.image__thumbnail {
  width: 131px;
  height: 85px; }

.image__thumbnail {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }

.search-section__description .product-name {
  font-size: 10px;
  text-transform: uppercase;
  color: #b1b1b1;
  font-family: "Lato-Black";
  font-weight: 900;
  letter-spacing: 1px; }

.search-section__description .product-sub-title {
  font-family: "Lato-Regular";
  font-size: 15px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #515356; }

.search-section__description img {
  height: 15px; }

.search-section__description #view-more {
  opacity: 0.5;
  font-family: "Lato-Black";
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #000000; }
  .search-section__description #view-more:active {
    color: #d92e4a;
    opacity: none;
    font-size: 12px;
    border-bottom: 1px solid #d92e4a; }

.product-price {
  font-family: "Lato-Bold";
  font-size: 23px;
  font-weight: bold;
  color: #515356; }
  .product-price span {
    font-size: 13px; }

.description__section {
  margin-top: 20px;
  padding: 0;
  height: auto; }
  .description__section .description__section--header {
    display: flex;
    background-color: #eff4f7;
    height: 56px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    padding: 15px; }
    .description__section .description__section--header .description-list {
      width: 432px;
      display: flex;
      justify-content: space-between; }
  .description__section .description-list {
    font-family: "Lato-Black";
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #636567; }
    .description__section .description-list span {
      opacity: 0.2;
      color: #979797; }
  .description__section .description__section--content {
    background-color: #f8f9fc;
    padding: 10px 20px;
    opacity: 0.7;
    font-family: "Lato-Regular";
    font-size: 12px;
    color: #636567; }
    .description__section .description__section--content .product-name {
      font-size: 24px;
      color: #636567;
      font-family: "Lato-Regular"; }

.search-secction__buttons button {
  width: 130px;
  height: 36px;
  background-color: #d92e49;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase; }

.order-section {
  width: 30%;
  box-shadow: 0 16px 34px 7px rgba(121, 121, 121, 0.1);
  height: auto;
  min-height: 900px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0; }

.cart-section__header {
  background-color: #719c31;
  height: 97px;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 75px;
  font-family: "Lato-Black";
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 2.4px;
  text-align: center;
  color: #ffffff; }

.cart-section__sub-header {
  height: 36px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .cart-section__sub-header .cart-header__list {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    opacity: 0.5;
    font-family: "Lato-Black";
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    color: #373738; }
    .cart-section__sub-header .cart-header__list li:first-child {
      width: 26%; }

.cart-section__data {
  display: flex;
  justify-content: space-between;
  padding: 10px; }
  .cart-section__data .product-item__name {
    width: 35%;
    font-family: "Lato-Semibold";
    font-size: 12px;
    font-weight: 600;
    color: #636467; }
  .cart-section__data .cart__quantity #minusButton,
  .cart-section__data .cart__quantity #AddButton {
    border-radius: 50%;
    border: none;
    width: 23px;
    height: 25px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); }
  .cart-section__data .cart__quantity .textbox {
    background: none;
    border: none;
    width: 20px;
    text-align: center; }

.product-cart__price {
  font-family: "Lato-Bold";
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #d92e4a; }
  .product-cart__price span {
    font-size: 6px; }

.cancel-button img {
  height: 11px; }

.cart-section__footer {
  background: #fff;
  width: 30%;
  position: fixed;
  right: 0;
  bottom: 0; }
  .cart-section__footer .total-section {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    font-family: "Lato-Regular";
    font-size: 18px;
    font-weight: normal;
    color: #636467; }
    .cart-section__footer .total-section .total-section__cost {
      font-family: "Lato-Bold";
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 1px;
      color: #d92e4a; }
  .cart-section__footer button {
    width: 100%;
    height: 56px;
    border: none;
    background-color: #fbad18;
    color: #fff;
    font-family: "Lato-Bold";
    font-size: 20px; }

.nav-arrow {
  position: absolute;
  width: 20px;
  height: 43px;
  top: 155px;
  cursor: pointer;
  font-size: 24px;
  color: #e40046;
  text-align: center; }

.left-arrow {
  background: #fff;
  left: 0;
  border-right: 1px solid rgba(151, 151, 151, 0.39); }

.right-arrow {
  background: #fff;
  right: 30%;
  border-left: 1px solid rgba(151, 151, 151, 0.39); }

/*!
 * bootstrap-vertical-tabs - v1.1.0
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-06-06
 * Copyright (c) 2014 Ä°smail Demirbilek
 * License: MIT
 */
.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px; }

.tabs-left {
  border-right: 1px solid #ddd; }

.tabs-right {
  border-left: 1px solid #ddd; }

.tabs-left > li, .tabs-right > li {
  float: none;
  margin-bottom: 2px; }

.tabs-left > li {
  margin-right: -1px; }

.tabs-right > li {
  margin-left: -1px; }

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent; }

.tabs-right > li.active > a,
.tabs-right > li.active > a:hover,
.tabs-right > li.active > a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent; }

.tabs-left > li > a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display: block; }

.tabs-right > li > a {
  border-radius: 0 4px 4px 0;
  margin-right: 0; }

.vertical-text {
  margin-top: 50px;
  border: none;
  position: relative; }

.vertical-text > li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px; }

.vertical-text > li > a {
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0px 0px; }

.vertical-text > li.active > a,
.vertical-text > li.active > a:hover,
.vertical-text > li.active > a:focus {
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd; }

.vertical-text.tabs-left {
  left: -50px; }

.vertical-text.tabs-right {
  right: -50px; }

.vertical-text.tabs-right > li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.vertical-text.tabs-left > li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.fa-fw {
  width: 2em; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #e40046 !important;
  border-radius: 40px; }

.myaccount-main {
  margin: 49px; }

/*!
 * ngToast v2.0.0 (http://tameraydin.github.io/ngToast)
 * Copyright 2016 Tamer Aydin (http://tamerayd.in)
 * Licensed under MIT (http://tameraydin.mit-license.org/)
 */
.ng-toast--animate-fade .ng-enter,
.ng-toast--animate-fade .ng-leave,
.ng-toast--animate-fade .ng-move {
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease; }

.ng-toast--animate-fade .ng-enter {
  opacity: 0; }

.ng-toast--animate-fade .ng-enter.ng-enter-active {
  opacity: 1; }

.ng-toast--animate-fade .ng-leave {
  opacity: 1; }

.ng-toast--animate-fade .ng-leave.ng-leave-active {
  opacity: 0; }

.ng-toast--animate-fade .ng-move {
  opacity: 0.5; }

.ng-toast--animate-fade .ng-move.ng-move-active {
  opacity: 1; }

.ng-toast--animate-slide .ng-enter,
.ng-toast--animate-slide .ng-leave,
.ng-toast--animate-slide .ng-move {
  position: relative;
  transition-duration: 0.3s;
  transition-timing-function: ease; }

.ng-toast--animate-slide.ng-toast--center.ng-toast--top .ng-toast__message {
  position: relative;
  transition-property: top, margin-top, opacity; }

.ng-toast--animate-slide.ng-toast--center.ng-toast--top .ng-toast__message.ng-enter {
  opacity: 0;
  top: -100px; }

.ng-toast--animate-slide.ng-toast--center.ng-toast--top .ng-toast__message.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0; }

.ng-toast--animate-slide.ng-toast--center.ng-toast--top .ng-toast__message.ng-leave {
  opacity: 1;
  top: 0; }

.ng-toast--animate-slide.ng-toast--center.ng-toast--top .ng-toast__message.ng-leave.ng-leave-active {
  opacity: 0;
  margin-top: -72px; }

.ng-toast--animate-slide.ng-toast--center.ng-toast--bottom .ng-toast__message {
  position: relative;
  transition-property: bottom, margin-bottom, opacity; }

.ng-toast--animate-slide.ng-toast--center.ng-toast--bottom .ng-toast__message.ng-enter {
  opacity: 0;
  bottom: -100px; }

.ng-toast--animate-slide.ng-toast--center.ng-toast--bottom .ng-toast__message.ng-enter.ng-enter-active {
  opacity: 1;
  bottom: 0; }

.ng-toast--animate-slide.ng-toast--center.ng-toast--bottom .ng-toast__message.ng-leave {
  opacity: 1;
  bottom: 0; }

.ng-toast--animate-slide.ng-toast--center.ng-toast--bottom .ng-toast__message.ng-leave.ng-leave-active {
  opacity: 0;
  margin-bottom: -72px; }

.ng-toast--animate-slide.ng-toast--right {
  transition-property: right, margin-right, opacity; }

.ng-toast--animate-slide.ng-toast--right .ng-enter {
  opacity: 0;
  right: -200%;
  margin-right: 20px; }

.ng-toast--animate-slide.ng-toast--right .ng-enter.ng-enter-active {
  opacity: 1;
  right: 0;
  margin-right: 0; }

.ng-toast--animate-slide.ng-toast--right .ng-leave {
  opacity: 1;
  right: 0;
  margin-right: 0; }

.ng-toast--animate-slide.ng-toast--right .ng-leave.ng-leave-active {
  opacity: 0;
  right: -200%;
  margin-right: 20px; }

.ng-toast--animate-slide.ng-toast--left {
  transition-property: left, margin-left, opacity; }

.ng-toast--animate-slide.ng-toast--left .ng-enter {
  opacity: 0;
  left: -200%;
  margin-left: 20px; }

.ng-toast--animate-slide.ng-toast--left .ng-enter.ng-enter-active {
  opacity: 1;
  left: 0;
  margin-left: 0; }

.ng-toast--animate-slide.ng-toast--left .ng-leave {
  opacity: 1;
  left: 0;
  margin-left: 0; }

.ng-toast--animate-slide.ng-toast--left .ng-leave.ng-leave-active {
  opacity: 0;
  left: -200%;
  margin-left: 20px; }

/*!
 * ngToast v2.0.0 (http://tameraydin.github.io/ngToast)
 * Copyright 2016 Tamer Aydin (http://tamerayd.in)
 * Licensed under MIT (http://tameraydin.mit-license.org/)
 */
.ng-toast {
  position: fixed;
  z-index: 1080;
  width: 100%;
  height: 0;
  margin-top: 20px;
  text-align: center; }

.ng-toast.ng-toast--top {
  top: 0;
  bottom: auto; }

.ng-toast.ng-toast--top .ng-toast__list {
  top: 0;
  bottom: auto; }

.ng-toast.ng-toast--top.ng-toast--center .ng-toast__list {
  position: static; }

.ng-toast.ng-toast--bottom {
  top: auto;
  bottom: 0; }

.ng-toast.ng-toast--bottom .ng-toast__list {
  top: auto;
  bottom: 0; }

.ng-toast.ng-toast--bottom.ng-toast--center .ng-toast__list {
  pointer-events: none; }

.ng-toast.ng-toast--bottom.ng-toast--center .ng-toast__message .alert {
  pointer-events: auto; }

.ng-toast.ng-toast--right .ng-toast__list {
  left: auto;
  right: 0;
  margin-right: 20px; }

.ng-toast.ng-toast--right .ng-toast__message {
  text-align: right; }

.ng-toast.ng-toast--left .ng-toast__list {
  right: auto;
  left: 0;
  margin-left: 20px; }

.ng-toast.ng-toast--left .ng-toast__message {
  text-align: left; }

.ng-toast .ng-toast__list {
  display: inline-block;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0;
  list-style: none; }

.ng-toast .ng-toast__message {
  display: block;
  width: 100%;
  text-align: center; }

.ng-toast .ng-toast__message .alert {
  display: inline-block; }

.ng-toast .ng-toast__message__count {
  display: inline-block;
  margin: 0 15px 0 5px; }
