<!-- Footer -->
<footer ng-controller="loginController">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="row footer-menu">
          <div class="col-sm-3">
            <img src="images/footer-logo-icon.png" alt="" />
          </div>
          <div class="col-sm-4">
            <ul style="cursor:pointer;">
              <li>FAQ</li>
              <li>About</li>
              <li>Careers</li>
              <li>Blog</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul style="cursor:pointer;">
              <li>Help Center</li>
              <li ng-click="showContactUs()">Email Support</li>
              <li ng-click="showContactUs()">Contact us</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6 footer-menu">
            <p style="color: #fff;">FOLLOW US</p>
            <div class="footer-logos__social-icons">
              <a href=""><img src="images/facebook-icon@3x.png" alt="" /></a>
            <a href="">  <img src="images/google-icon@3x.png" alt="" /></a>
            <a href="">  <img src="images/twitter-icon@3x.png" alt="" /></a>
              <a href=""><img src="images/r-s-s-icon@3x.png" alt="" /></a>
            </div>
          </div>
          <div class="col-sm-6 footer-menu">
            <p style="color: #fff;">DOWNLOAD</p>
            <div class="footer-logos__downloads" style="cursor:pointer;">
              <div class="ring"><i class="fa fa-mobile" aria-hidden="true"></i></div>
              <div class="ring"><i class="fa fa-play" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="footer-logos">
    <div class="footer-logos__company">

      <img src="images/footer-logo.png" alt="" />
    </div>
    <div class="footer-logos__payment">
      <img src="images/pay-pal-logo@3x.png" alt="" />
      <img src="images/visa-logo@3x.png" alt="" />
      <img src="images/master-card-logo@3x.png" alt="" />
    </div>

  </div> -->
</footer>
