<!-- Footer -->
<footer>
  <div class="footer-menu">
    <div class="footer-menu__breakfast">
      <ul class="footer-menu__breakfast--list ">
        <li>Breakfast</li>
        <li>Choco's</li>
        <li>Dosa</li>
        <li>Toast</li>
        <li>Pizza</li>
      </ul>
    </div>
    <div class="footer-menu__lunch">
      <ul class="footer-menu__lunch--list ">
        <li>Lunch</li>
        <li>North Indian</li>
        <li>South Indian</li>
        <li>Chinese</li>
        <li>Briyani</li>
      </ul>
    </div>
    <div class="footer-menu__dinner">
      <ul class="footer-menu__dinner--list ">
        <li>Dinner</li>
        <li>Choco's</li>
        <li>Dosa</li>
        <li>Toast</li>
        <li>Pizza</li>
      </ul>
    </div>
    <div class="footer-menu__salad">
      <ul class="footer-menu__salad--list ">
        <li>Salad</li>
        <li>Choco's</li>
        <li>Dosa</li>
        <li>Toast</li>
        <li>Pizza</li>
      </ul>
    </div>
    <div class="footer-menu__rolls">
      <ul class="footer-menu__rolls--list ">
        <li>Rolls</li>
        <li>Choco's</li>
        <li>Dosa</li>
        <li>Toast</li>
        <li>Pizza</li>
      </ul>
    </div>
  </div>
  <div class="footer-logos">
    <div class="footer-logos__company">
      <img src="images/r-s-s-icon@3x.png" alt="" />
      <img src="images/footer-logo.png" alt="" />
    </div>
    <div class="footer-logos__payment">
      <img src="images/" alt="" />
      <img src="images/" alt="" />
      <img src="images/" alt="" />
    </div>
    <div class="footer-logos__social-icons">
      <img src="images/facebook-icon@3x.png" alt="" />
      <img src="images/google-icon@3x.png" alt="" />
      <img src="images/twitter-icon@3x.png" alt="" />
      <img src="images/r-s-s-icon@3x.png" alt="" />
    </div>
  </div>
</footer>
