<!-- Header -->
<div class="header" ng-controller="loginController">
	<div class="logo">
		<img src="images/l-o-g-o@2x.png">
	</div>
	<!-- <div class="search-bar">
		<input type="search-bar" name="" class="search-bar__input">
		<button class="search-button">Search</button>
	</div> -->
	<div class="profile_details">
		<!-- <p><a href="#/cart-description">CART</a></p>
		<p><a href="#/product-description">Account-name</a></p> -->
		<p><a href="#/login">Login  /</a></p>
		<p><a href="#/signup">Register</a></p>
		<img src="images/basket@2x.png" height="26px">
		<!-- <p><a href="" ng-click="logout()">Logout</a></p> -->
	</div>
</div>
