<!-- Header -->
<div class="header" ng-controller="loginController">
	<div class="logo">
		<a href="#/landing"><img src="images/l-o-g-o@2x.png"></a>
	</div>
	<!-- <div class="search-bar">
		<input type="search-bar" name="" class="search-bar__input">
		<button class="search-button">Search</button>
	</div> -->
	<div class="profile_details">
		<!-- <p><a href="#/cart-description">CART</a></p>
		<p><a href="#/product-description">Account-name</a></p> -->
		<div class="user__login" ng-show="not__logged">
			<p><a href="#loginmodal" data-toggle="modal">Login  /</a></p>
			<p><a href="#signupmodal" data-toggle="modal">Register</a></p>
		</div>

		<div class="myaccount myaccount-font" ng-show="show_myaccnt">
			<div class="dropdown">
			 <!-- <p class="dropdown__myaccount" id="menu1" type="button" >{{userName}}
			 <span class="caret"></span></p> -->
			 <p class="dropdown__myaccount" id="menu1" type="button" >{{getEmailId}}
			 <span class="caret"></span></p>
			 <div class="dropdown__list">
			 	<p><a href="#/myaccount" >My Account</a></p>
				<p><a href="" ng-click="logout()">Logout</a></p>
			 </div>
		 </div>
		 <!-- <p><a href="" ng-click="logout()">Logout</a></p> -->
		</div>

		<a href="#/search-page" style="margin-top: 10px;"><img src="images/basket@2x.png" height="26px" ng-click="getcartItems()"></a>
		<p>
			{{cartLength}}
		</p>

	</div>
</div>
