<div class="" id="scroll-menu-fixed">
  @@include('_header.html')
</div>

<div class="container-fluid myaccount-main" style="margin-bottom: 200px;">
  <div class="row" style="border-bottom: 1px solid #ddd;">
    <div class="container tab_list" ng-init=" getUserProfile(); getAddressMyAccount();">
      <div class="tab_item" ng-class="{'active' : showTab == 'profile'}" ng-click="showTab = 'profile'; getUserProfile(); getAddressMyAccount()">Profile</div>
      <div class="tab_item" ng-class="{'active' : showTab == 'orderHistory'}" ng-click="showTab = 'orderHistory'; getOrdersByUserId();">Order History</div>
      <div class="tab_item" ng-class="{'active' : showTab == 'feedback'}" ng-click="showTab = 'feedback'">Feedback</div>
      <div class="tab_item" ng-class="{'active' : showTab == 'termNcondition'}" ng-click="showTab = 'termNcondition'">Terms &amp; condition</div>
      <div class="tab_item" ng-class="{'active' : showTab == 'contactNsupport' }" ng-click="showTab = 'contactNsupport'">Contact &amp; support</div>
      <!-- <div class="tab_item" ng-class="{'active' : showTab == 'contactNsupport'}" ng-show="ContactSupport" ng-click="showTab = 'contactNsupport'" >Contact &amp; support</div> -->
    </div>
  </div>
  <div class="row">
      <!--<div class="col-md-3">
        <ul class="nav nav-pills nav-stacked admin-menu">
          <li class="active"><a href="#" data-target-id="homes" ng-click="getUserProfile()"><i class="fa fa-home fa-fw"></i>My Profile</a></li>
          <li><a data-target-id="Profile"><i class="fa fa-list-alt fa-fw"></i>Change Password</a></li>
          <li><a data-target-id="Activity" ng-click="getOrdersByUserId()"><i class="fa fa-file-o fa-fw"></i>Order Details</a></li>
          <li><a data-target-id="Address" ng-click="getAddressMyAccount()"><i class="fa fa-bar-chart-o fa-fw"></i>Address Details</a></li>
          <li><a data-target-id="Feedback"><i class="fa fa-table fa-fw"></i>Feedback</a></li>
        </ul>
      </div> -->
    <div class="container">
      <div class="col-md-12 admin-content" id="homes" ng-show="showTab == 'profile'">
        <p class="row terms_heading">Basic info</p>
        <div class="row basic_info">
          <div class="info_block col-sm-6">
            <div class="dropdown__myaccount">
              <div class="user_image" style="background-image: url({{BASE_URL}}/ecom{{userDetails.image_url}})"></div>
              {{userDetails.name}}
              <img class="icon_img" ng-show="editImage==false" ng-click="editImage=true" ng-init="editImage=false" src="images/pencil.svg" type="image/svg+xml" data-pin-nopin="true">
              <img class="icon_img" ng-show="editImage==true" ng-click="editImage=false" src="images/close.svg" type="image/svg+xml" data-pin-nopin="true">

              <div class="edit_img" ng-show="editImage==true">
                <input type="file" id="file1" name="file" multiple ng-files="getTheFiles($files)" style="display: inline-block;" />
                <button class="checkout-page__buttons active" ng-class="{'btn-default' : !isDataAvailable}" ng-disabled="!isDataAvailable" ng-click="ProfileUpdate()" style="padding: 5px 17px; font-size: 10px;">Submit</button>
              </div>
            </div>
          </div>
          <div class="info_block col-sm-6">
            <lable>Email</lable>
            <p>{{userDetails.email}}</p>
          </div>
          <div class="info_block col-sm-6">
            <lable>Contact Number</lable>
            <p>{{getAddressByUserId[0].mobileNumber}}</p>
          </div>
          <div class="info_block col-sm-6">
            <lable>CHANGE PASSWORD</lable>
            <p><a href="" ng-click="editPassword = true" data-toggle="modal" data-target="#myModal">Click here</a> to change password</p>
          </div>
          <div class="info_block col-sm-12">
            <lable>Address</lable>
            <p>{{getAddressByUserId[0].houseNo}}, {{getAddressByUserId[0].name}}, {{getAddressByUserId[0].streetName}}, {{getAddressByUserId[0].landmark}},</p>
            <p>{{getAddressByUserId[0].city}}, {{getAddressByUserId[0].country}}</p>
          </div>
        </div>

        <!-- <div ng-show="editPassword == true">
          <p class="row terms_heading">Change password</p>
          <div class="row">
            <div class="col-lg-12">
              <form ng-submit="changePassword()" class="col-lg-6">
                <div class="form-group">
                  <label for="usr">Old Password:</label>
                  <input type="password" class="form-control" ng-model="oldPassword" id="usr">
                </div>
                <div class="form-group">
                  <label for="pwd">New Password:</label>
                  <input type="password" class="form-control" ng-model="newPassword" id="pwd">
                </div>
                <button type="submit" class="checkout-page__buttons active">Submit</button>
              </form>
            </div>
          </div>
        </div> -->

        <br /><br /><br />
        <p class="row terms_heading">Update address</p>
        <div class="row">
          <div class="col-lg-12">
            <!-- get address -->
            <div class="row">
  						<div class="col-sm-6" ng-repeat="address in getAddressByUserId ">
  							<div class="address-box" ng-class="{'active' : addressIdSelected == address._id}">
  								<div class="address-content">
                    <div class="address_action_btn">
                      <img ng-click="deleteAddress(address._id)" src="images/close.svg"  type="image/svg+xml" style="cursor:pointer" />
                      <img ng-click="getAddressIdToEdit(address._id)" src="images/pencil.svg"  type="image/svg+xml" style="cursor:pointer"/>
                    </div>
  									<div class="row">
  										<div class="col-xs-8"><h2>{{address.addressType}}</h2></div>
  										<!-- <div class="col-xs-4"><span class="pull-right edit" ng-click="editAddress()">Edit</span></div> -->
  										<div class="col-xs-12" style="margin-top:15px">
  											<p>{{address.houseNo}},{{address.name}}</p>
  											<p>{{address.streetName}},{{address.landmark}},</p>
  											<p>{{address.city}},{{address.country}}</p>
  											<p>{{address.mobileNumber}}</p>
  										</div>
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>

            <!-- edit address -->
            <form ng-submit="editAddress()" class="col-lg-10" ng-show="showEditAddressFields">
                  <div class="form-group col-lg-6">
                    <label for="usr">name:</label>
                    <input type="text" class="form-control" ng-model="name" id="usr">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="pwd">houseNo:</label>
                    <input type="text" class="form-control" ng-model="houseNo" id="pwd">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="pwd">streetName:</label>
                    <input type="text" class="form-control" ng-model="streetName" id="pwd">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="pwd">landmark:</label>
                    <input type="text" class="form-control" ng-model="landmark" id="pwd">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="pwd">companyName:</label>
                    <input type="text" class="form-control" ng-model="companyName" id="pwd">
                  </div>
                  <!-- <div class="form-group col-lg-6">
                    <label for="pwd">officeNumber:</label>
                    <input type="text" class="form-control" ng-model="officeNumber" id="pwd">
                  </div> -->
                  <div class="form-group col-lg-6">
                    <label for="pwd">mobileNumber:</label>
                    <input type="text" class="form-control" ng-model="mobileNumber" id="pwd">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="pwd">landLineNumber:</label>
                    <input type="text" class="form-control" ng-model="landLineNumber" id="pwd">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="pwd">pinCode:</label>
                    <input type="text" class="form-control" ng-model="pinCode" id="pwd">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="pwd">city:</label>
                    <input type="text" class="form-control" ng-model="city" id="pwd">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="pwd">state:</label>
                    <input type="text" class="form-control" ng-model="state" id="pwd">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="pwd">country:</label>
                    <input type="text" class="form-control" ng-model="country" id="pwd">
                    <br/>
                      <button type="submit" class="checkout-page__buttons active">Submit</button>
                  </div>

              </form>
              <!-- edit address -->
          </div>
        </div>
      </div>

      <div class="col-md-12 admin-content" id="Profile" ng-show="showTab == 'orderHistory'">
        <div class="row">
          <!-- tabs -->
            <ul class="nav nav-tabs order-nav" style="padding: 13px 0px 25px 52px;">
            <!-- <li class="active"><a data-toggle="tab" href="#home">Home</a></li> -->
                <li><a data-toggle="tab" data-target="#menu1" ng-click="liveOrders()">Live Orders</a></li>
                <li><a data-toggle="tab" data-target="#menu2" ng-click="pastOrders()">Past Orders</a></li>
            </ul>
          <div class="tab-content">
            <div id="menu1" class="" ng-show="showLiveOrders">
                <div class="col-md-12">
                  <div class="row order_item" ng-class="{'card_layout' : showOrder[$index]}" ng-repeat="orderLive in orderHistoryLive ">
                    <div class="col-lg-12 order_meta" ng-init="showOrder[$index] = false" ng-click="showOrder[$index] = !showOrder[$index]">
                      <p><label>Order Date&nbsp;</label>{{orderLive.orderDate | date:medium}}</p>
                      <p><label>Order Id&nbsp;</label>{{orderLive._id}}</p>
                      <p><label>Order status&nbsp;</label>{{orderLive.orderStatus.name}}</p>
                    </div>
                    <div class="col-lg-12 order_detail" ng-show="showOrder[$index]">
                      <div class="row">
                        <table class="table table-condensed table-orderList">
                          <thead>
                            <tr>
                              <td class="text-left">Item</td>
                              <td class="text-center">Quantity</td>
                              <td class="text-right">Rate</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="itemLive in orderLive.itmes">
                              <td class="text-left item_detail">
                                <div class="item_thumbnail" style="background-image:url({{itemLive.product.mainImageUrl}})"></div>
                    						<div class="item_name"><strong>{{itemLive.product.name}}</strong></div>
                              </td>
                              <td class="text-center">{{itemLive.quantity}}</td>
                              <td class="text-right"><strong>{{itemLive.totalProductAmount}}&nbsp; AED</strong></td>
                            </tr>
                          </tbody>
                        </table>

                        <div class="col-lg-12 order_footer">
                          <div class="row">
                            <div class="col-sm-8">
                              {{orderLive.address.houseNo}}, {{orderLive.address.name}}, {{orderLive.address.streetName}}, {{orderLive.address.landmark}},<br>
                              {{orderLive.address.city}}, {{orderLive.address.country}}
                            </div>
                            <div class="col-sm-4 text-right">
                              <span>TOTAL PRICE</span>&nbsp;&nbsp;&nbsp;&nbsp;
                              <strong>{{orderLive.orderAmount}}&nbsp;&nbsp;AED</strong>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div id="menu2" ng-show="showPastOrders" >
                <div class="col-md-12">
                  <div class="row order_item" ng-class="{'card_layout' : showOrder[$index]}" ng-repeat="order in orderHistory | filter:{orderStatus:{name:'Completed'}}">
                    <div class="col-lg-12 order_meta" ng-init="showOrder[$index] = false" ng-click="showOrder[$index] = !showOrder[$index]">
                      <p><label>Order Date&nbsp;</label>{{order.orderDate | date:medium}}</p>
                      <p><label>Order Id&nbsp;</label>{{order._id}}</p>
                      <p><label>Order status&nbsp;</label>{{order.orderStatus.name}}</p>
                    </div>
                    <div class="col-lg-12 order_detail" ng-show="showOrder[$index]">
                      <div class="row">
                        <table class="table table-condensed table-orderList">
                          <thead>
                            <tr>
                              <td class="text-left">Item</td>
                              <td class="text-center">Quantity</td>
                              <td class="text-right">Rate</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="item in order.itmes">
                              <td class="text-left item_detail">
                                <div class="item_thumbnail" style="background-image:url({{item.product.mainImageUrl}})"></div>
                    						<div class="item_name"><strong>{{item.product.name}}</strong></div>
                              </td>
                              <td class="text-center">{{item.quantity}}</td>
                              <td class="text-right"><strong>{{item.totalProductAmount}}&nbsp; AED</strong></td>
                            </tr>
                          </tbody>
                        </table>

                        <div class="col-lg-12 order_footer">
                          <div class="row">
                            <div class="col-sm-8">
                              {{order.address.houseNo}}, {{order.address.name}}, {{order.address.streetName}}, {{order.address.landmark}},<br>
                              {{order.address.city}}, {{order.address.country}}
                            </div>
                            <div class="col-sm-4 text-right">
                              <span>TOTAL PRICE</span>&nbsp;&nbsp;&nbsp;&nbsp;
                              <strong>{{order.orderAmount}}&nbsp;&nbsp;AED</strong>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

        </div>
        </div>
      </div>

      <div class="col-md-12 admin-content" id="Feedback" ng-show="showTab == 'feedback'">
        <textarea class="text-feedback" ng-model="feedBackComments" placeholder="Write your feedback."></textarea>
        <button class="checkout-page__buttons active pull-right" style="margin-top:15px" type="button" ng-click="feedBack()">submit</button>
      </div>

      <div class="col-md-12 admin-content" id="Address" ng-show="showTab == 'termNcondition'">
        <p class="terms_heading">Terms &amp; condition</p>
        <div class="card_layout card_terms">
          It is a long established fact that a reader will be distracted by the readable
          content of a page when  looking at its layout It is a long established fact that a reader will be distracted
          by the readable content of a page when looking at its layout content of a page when looking at its layout
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
          <br />
          It is a long established fact that a reader will be distracted by the readable
          content of a page when  looking at its layout It is a long established fact that a reader will be distracted
          by the readable content of a page when looking at its layout content of a page when looking at its layout
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
        </div>
        <br />
        <p class="terms_heading">Privacy Policy</p>
        <div class="card_layout card_terms">
          It is a long established fact that a reader will be distracted by the readable
          content of a page when  looking at its layout It is a long established fact that a reader will be distracted
          by the readable content of a page when looking at its layout content of a page when looking at its layout
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
          <br />
          It is a long established fact that a reader will be distracted by the readable
          content of a page when  looking at its layout It is a long established fact that a reader will be distracted
          by the readable content of a page when looking at its layout content of a page when looking at its layout
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
        </div>
      </div>

      <div class="col-md-12 admin-content" id="Feedback" ng-show="showTab == 'contactNsupport'">
        <div class="contactNsupport" style="margin-top: 30px;">
          <div>It is a long established fact that a reader will be distracted by the readable
            content of a page when looking at its layout It is a long established fact that </div>
          <br /><br />

          <p style="color: grey;"><i class="fa fa-phone" aria-hidden="true"></i>+12 1234567890</p>
          <p style="color: grey;"><i class="fa fa-envelope-o" aria-hidden="true"></i>krazymeals@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="" id="contact">
  @@include('_footer.html')
</div>
<!-- Modal change password -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="margin-top: 178px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" tabindex="-1">&times;</button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <div >

          <div class="row">
            <div class="col-lg-12">
              <form ng-submit="changePassword()" class="col-lg-6">
                <div class="form-group">
                  <label for="usr">Old Password:</label>
                  <input type="password" class="form-control" ng-model="oldPassword" id="usr">
                </div>
                <div class="form-group">
                  <label for="pwd">New Password:</label>
                  <input type="password" class="form-control" ng-model="newPassword" id="pwd">
                </div>
                <button type="submit" class="checkout-page__buttons active">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
