<div class="search-order-section">
	<div class="search-page">
		<div class="search-page__header" id="sub-menu1">
		  @@include('_header.html')
		</div>
		<div id="scroller-anchor"></div>
		<div id="scroller">
			<div class="search-page-menu sub-menu" id="sub-menu">
				<div class="sub-menu__search">
					<img src="images/search-icon@2x.png" class="search-icon" ng-click="autocompleteSearch(searchitem)">
					<input type="search" class="cart__search" ng-model="searchitem" ng-change="autocompleteSearch(searchitem)" placeholder="Find The Things What You Want Here" >
				</div>
				<div class="sub-menu__favorites">
					<img src="images/heart-icon@2x.png" style="cursor:pointer;" ng-click="wishListShow()">
					<p style="cursor:pointer;" ng-click="wishListShow()">Favorites</p>
				</div>
				<p>
					<ul class="search-list-dropdown" ng-hide="searchitem === ''">
						<li ng-show="searchAutocompleteId.length === 0">No search result</li>
						<li ng-show="hideAutocomplete" ng-repeat="items in searchAutocompleteId" ng-click="searchList(items._id)">{{items._id}}</li>
					</ul>
				</p>
			</div>
			<div class="search-page__tab-menu">
				<ul class="search-page__tab-list" id="tabs-menu">
					<li ng-repeat="(key, val) in allProducts | groupBy:'cat'">
						<a  ng-attr-id="{{key | trimSpaces}}-a"
								ng-class="{'active' : key == categoryNames}"
								ng-click="setActiveTab(key)"> {{key}}</a></li>
				</ul>
				<div id="next" class="nav-arrow left-arrow" > < </div>
				<div id="prev" class="nav-arrow right-arrow"> > </div>
			</div>
		</div>
		<div class="search-secction">
			<!-- search result -->
			<div class="search-secction__content" ng-repeat="results in search_result" ng-show="searchPagelist">
				<div class="search-secction__data row">
					<div class="col-des col-sm-7">
						<div class="search-section__image">
							<div class="image__thumbnail" style="background-image:url({{results.mainImageUrl}})">
							</div>
						</div>
						<div class="search-section__description">
							<p class="product-name">{{results.name}}</p>
							<!-- <p class="product-sub-title l2">{{results.description}}</p> -->
								<div class="product-view" ng-init="showHearts(results._id)">
										<img class="product_heart" ng-if="heartFilled == false" src="images/heart-icon-black.png" ng-click="addWishList(results._id)">
										<i class="fa fa-heart fa-lg" style="color: #d92e4a;width: 27px;" aria-hidden="true" ng-if="heartFilled == true" ng-click="deleteWishList(results._id)"></i>
										<p class="view-more" ng-class="{'active' : showdiv}" ng-click="showdiv = !showdiv">View more</p>
								</div>
						</div>
					</div> <!-- sm7 -->
					<div class="col-act col-sm-5">
						<p class="product-price">{{results.salePrice}}<span>&nbsp;AED</span></p>
						<div class="search-secction__buttons">
							<button ng-if="results.instock === 'yes'" type="button" name="button" ng-click="addToCart(results._id)">Add to Cart</button>
							<button ng-if="results.instock === 'no'" type="button" name="button" disabled>Out of stock</button>
						</div>
					</div> <!-- sm5 -->
				</div>
				<div class="description__section" ng-show="showdiv">
					<div class="description__section--header">
						<div class="description-list">
							<p>Prep time:30 min</p>
							<span>|</span>
							<p>Calories: 100 Kcal</p>

						</div>
					</div>
					<div class="share_options">
						<span>Share</span>
						<span>
							<a class="fa fa-facebook" ng-click="FbShare()" aria-hidden="true"></a>
							<a class="fa fa-twitter" aria-hidden="true"></a>
							<a class="fa fa-google-plus" aria-hidden="true"></a>
						</span>
					</div>
					<div class="description__section--content">
						<p class="product-name">Product Description </p>
						<p class="product-sub-title">
							{{results.description}}
						</p>
						<p class="product-sub-title"></p>
						<img src="{{results.s1}}" width="120px" />
						<img src="{{results.s2}}" width="120px" />
						<img src="{{results.s3}}" width="120px" />
					</div>
				</div>
			</div>

			<!-- Wish list -->
			<div class="search-secction__content wish-list" ng-show="show_wishlist" ng-repeat="wishLists in getWishlistData">
				<div class="search-secction__data row">
					<div class="col-des col-sm-7">
						<div class="search-section__image">
							<div class="image__thumbnail" style="background-image:url({{wishLists.product.mainImageUrl}})">
							</div>
						</div>
						<div class="search-section__description">
							<p class="product-name">{{wishLists.product.name}}</p>
							<!-- <p class="product-sub-title l2">{{wishLists.product.description}}</p> -->
							<div class="product-view">
								<!-- <img class="product_heart" src="images/heart-icon-black.png" > -->
								<p class="view-more" ng-class="{'active' : showdiv}" ng-click="showdiv = !showdiv">View more</p>
							</div>
						</div>
					</div>
					<div class="col-act col-sm-5">
						<p class="product-price">{{wishLists.product.salePrice}}<span>&nbsp;AED</span></p>
						<div class="search-secction__buttons">
							<button ng-if="wishLists.product.instock === 'yes'" type="button" name="button" ng-click="addToCart(wishLists.product._id)">Add to Cart</button>
							<button ng-if="wishLists.product.instock === 'no'" type="button" name="button" disabled>Out of stock</button>
						</div>
					</div>
				</div>
				<div class="description__section" ng-show="showdiv">
					<div class="description__section--header">
						<div class="description-list">
							<p>Prep time:30 min</p>
							<span>|</span>
							<p>Calories: 100 Kcal</p>

						</div>
					</div>
					<div class="description__section--content">
						<p class="product-name">Product Description </p>
						<p class="product-sub-title">
							{{wishLists.product.name}}
						</p>
						<p class="product-sub-title"></p>
						<img src="{{wishLists.product.s1}}" width="120px" />
						<img src="{{wishLists.product.s2}}" width="120px" />
						<img src="{{wishLists.product.s3}}" width="120px" />
					</div>
				</div>
			</div>

			<!-- menu result -->
			<div ng-show="showMenuResult" ng-repeat="(key, val) in allProducts | groupBy:'cat'">
				<p class="target" ng-attr-id="{{key | trimSpaces}}">{{ key }}</p>
				<div class="search-secction__content wish-list" ng-repeat="list in val">
					<div class="search-secction__data row">
						<div class="col-des col-sm-7">
							<div class="search-section__image">
								<div class="image__thumbnail" style="background-image:url({{list.mainImageUrl}})"></div>
							</div>
							<div class="search-section__description">
								<p class="product-name">
									<img class="product_heart" ng-if="list._id != heartFilled" src="images/heart-icon-black.png" ng-click="addWishList(list._id)">
									<i class="fa fa-heart fa-lg" style="color: #d92e4a;" aria-hidden="true" ng-if="list._id == heartFilled" ng-click="deleteWishList(list._id)"></i>
									{{list.name}}</p>
								<!-- <p class="product-sub-title l2">{{list.description}}</p> -->
									<div class="product-view">
										<p class="view-more" ng-class="{'active' : showdiv}" ng-click="showdiv = !showdiv">View more</p>
									</div>
							</div>
						</div> <!-- sm7 -->
						<div class="col-act col-sm-5">
							<p class="product-price">{{list.salePrice}}<span>&nbsp;AED</span></p>
							<div class="search-secction__buttons">
								<button ng-if="list.instock === 'yes'" type="button" name="button" ng-click="addToCart(list._id)">Add to Cart</button>
								<button ng-if="list.instock === 'no'" type="button" name="button" disabled>Out of stock</button>
							</div>
						</div> <!-- sm5 -->
					</div>
					<div class="description__section" ng-show="showdiv">
						<div class="description__section--header">
							<div class="description-list">
								<p>Prep time:30 min</p>
								<span>|</span>
								<p>Calories: 100 Kcal</p>
							</div>
						</div>
						<div class="description__section--content">
							<div class="share_options">
								<span>Share</span>
								<span>
									<a class="fa fa-facebook"  ng-click="FbShare()"  aria-hidden="true"></a>
									<a class="fa fa-twitter" ng-click="twitterShare()" aria-hidden="true"></a>
									<a class="fa fa-google-plus" href="https://plus.google.com/share?url=YOUR_URL" onclick="window.open(this.href, 'Google+', 'width=490,height=530'); return false;" aria-hidden="true"></a>
								</span>
							</div>
							<p class="product-name">Product Description </p>
							<p class="product-sub-title">
								{{list.description}}
							</p>
							<p class="product-sub-title"></p>
							<img src="{{list.s1}}" width="120px" />
							<img src="{{list.s2}}" width="120px" />
							<img src="{{list.s3}}" width="120px" />
						</div>
					</div>
				</div>
			</div>
			<!-- menu result -->
		</div>
		@@include('_footer.html')
	</div>

	<div class="order-section">
		<div class="">
			<div class="cart-section__header">
				<p>My Cart</p>
			</div>
			<div class="cart-section__sub-header">
				<ul class="cart-header__list">
					<li>Item</li>
					<li>Quantity</li>
					<li>Rate</li>
					<li></li>
				</ul>
			</div>
			<div style="overflow: scroll;position: absolute;width: 100%;top: 130px;height: 360px;">
				<div class="cart-section__data" ng-repeat="cartList in allCartItems">
					<!-- <p>{{cartList.product.name}}</p> ng-repeat="cartList in allCartItems"-->
					<p class="product-item__name">{{cartList.product.name}}</p>
					<div class="cart__quantity">
						<input type="Button" id='minusButton' value="-" ng-click="updateCartByDecrementing(cartList.quantity, cartList._id)" />
						<input type="text" name="TextBox" id="TextBox" class="textbox" ng-value="cartList.quantity" ng-model="cartList.quantity" />
						<input type="Button" id='AddButton' value="+" ng-click="updateCartByIncrement(cartList.quantity, cartList._id)"/>
					</div>
					<p class="product-cart__price"><span>AED</span>{{cartList.product.salePrice * cartList.quantity}}</p>
					<!-- <p>{{cartList.product.salePrice}}</p> -->
					<div class="cancel-button" style="cursor:pointer">
						<img src="images/close-button@2x.png" alt="" ng-click="deleteCart(cartList._id,cartList.quantity)"/>
					</div>
				</div>
		</div>
	</div>
		<div class="cart-section__footer">
			<div class="total-section">
				<p>Sub Total</p>
				<p class="total-section__cost"><span>AED</span>{{subTotalCost}}</p>
			</div>
			<div class="total-section" ng-if="showDeliveryCost">
				<p>Delivery Cost</p>
				<p class="total-section__cost"><span>AED</span>{{deliveryOrderAmount}}</p>
			</div>
			<div class="total-section">
				<p>Total</p>
				<p class="total-section__cost"><span>AED</span>{{totalCost}}</p>
			</div>
			<button type="button" ng-click="checkout()" name="button">Checkout</button>
		</div>
	</div>
</div>
