<div class="modal bd-example-modal-lg" id="forgotpassword" ng-controller="loginController" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-container" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-container__body">
        <!-- <div ng-show="forgotalert" style="padding-bottom: 10px; color: red;">
        {{forgotError}}
      </div> -->
      <div ng-class="forgotalert ? 'text-danger' : 'text-success'">{{forgotError}}</div>
        <form class="loginform" ng-submit="forgotPassword()" name="forgot-password-form" method="POST" novalidate>
          <div class="loginform__manually">
            <div class="loginForm--fields">
              <div class="loginForm__inputs loginForm__username">
                <input type="text" class="loginForm__inputs--username" name="username" ng-model="forgot.email" placeholder="Email Address" required>
              </div>
            </div>
            <button class="modal__submit" type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
