
<div class="" id="scroll-menu-fixed">
  @@include('_header.html')
</div>
<div class="">
  <div class="section-main-content">
    <div class="section-header-menu" id="scroll-menu-fixed1">
      <div class="header-menu__list">
        <p><a href="#menu">Menu </a></p>
    		<p><a href="#locations">Locations</a></p>
    		<p><a href="#about">About us</a></p>
    		<p><a href="#ourpartners">Our Partners</a></p>
    		<p><a href="#blog">Community</a></p>
    		<p><a href="#contact">Contact us</a></p>
      </div>
      <div class="search_favorites">
        <!-- <div class="searchbox-white">
          <input type="search" class="search-box" placeholder="search here">
          <img src="images/close-button@2x.png" class="close-icon" >
        </div> -->
        <input type="search" class="search-box" placeholder="search here">
        <img src="images/close-button@2x.png" class="close-icon" >
        <img src="images/search-icon@2x.png" class="search-icon">
        <p><a href="#/"> |</a></p>
        <img src="images/heart-icon@2x.png">
    		<p>favorites</p>
      </div>
    </div>
    <div class="section-content">
      <div class="social-images">
        <div class="fb-btn">facebook</div>
        <div class="tw-btn"><img src="images/twitter-icon-copy-2@3x.png" alt="Twitter" /></div>
        <div class="google-btn"><img src="images/google-icon-copy-2@3x.png" alt="G+" /></div>
        <div class="instagram-btn"><img src="images/instagram-icon.png" alt="Instagram" /></div>
      </div>
      <h2>The Best Food Is Here</h2>
      <p>The kit consists of more than a hundred ready-to-use elements that you can combine to get the exat prototype you want</p>
      <div class="buy-now-button">
        <button type="button" name="button"><img src="images/add-cart-icon.png"> Buy Now</button>
      </div>
    </div>
  </div>
<!-- slider section -->
  <div class="slider-section">
      <p style="text-align:center;padding-top:50px;">Slider section</p>
      <!-- @@include('_products-page.html') -->
  </div>

  <!-- Tab section -->
  <div class="tab_section" id="menu">
    <h1>Our Menu</h1>
    <div class="menu-tabs">
      <ul class="menu-tabs__list" id="tabs-menu">
        <li><a href="#breakfast-tab" data-toggle="tab"> Breakfast</a></li>
        <li><a href="#lunch-tab" data-toggle="tab">Lunch</a></li>
        <li><a href="#dinner-tab" data-toggle="tab">Dinner</a></li>
        <li><a href="#salads-tab" data-toggle="tab">Salads</a></li>
        <li><a href="#rolls-tab" data-toggle="tab">Rolls</a></li>
        <button type="button" name="button">view all</button>
      </ul>
    </div>
    <div class="menu-tabs__products-list ">
      <div class="menu-tabs__breakfast products-tab" id="breakfast-tab">
        <!-- 1-->
        <div class="breakfast-products">
          <div class="breakfast-products__iamge">

          </div>
          <div class="breakfast-products__content">
            <img src="images/heart-icon-black.png" height="26px" alt="" />
            <div class="products__description">
              <p>name1</p>
              <p>data</p>
              <p>Price</p>
            </div>
            <button type="button" name="button" ng-click="addToCart()"><img src="images/add-cart-icon.png"> Add to cart</button>
          </div>
        </div>
        <!-- 2-->
        <div class="breakfast-products">
          <div class="breakfast-products__iamge" style="background-image: url(images/plate-chicken.png);">

          </div>
          <div class="breakfast-products__content">
            <img src="images/heart-icon-black.png" height="26px" alt="" />
            <div class="products__description">
              <p>name1</p>
              <p>data</p>
              <p>Price</p>
            </div>
            <button type="button" name="button" ng-click="addToCart()"><img src="images/add-cart-icon.png">Add to cart</button>
          </div>
        </div>
        <!-- 3 -->
        <div class="breakfast-products">
          <div class="breakfast-products__iamge" style="background-image: url(images/seafood-art.png);">

          </div>
          <div class="breakfast-products__content">
            <img src="images/heart-icon-black.png" height="26px" alt="" />
            <div class="products__description">
              <p>name1</p>
              <p>data</p>
              <p>Price</p>
            </div>
            <button type="button" name="button" ng-click="addToCart()"><img src="images/add-cart-icon.png">Add to cart</button>
          </div>
        </div>
        <!-- 4 -->
        <div class="breakfast-products">
          <div class="breakfast-products__iamge" style="background-image: url(images/salad.png);">

          </div>
          <div class="breakfast-products__content">
            <img src="images/heart-icon-black.png" height="26px" alt="" />
            <div class="products__description">
              <p>name1</p>
              <p>data</p>
              <p>Price</p>
            </div>
            <button type="button" name="button" ng-click="addToCart()"><img src="images/add-cart-icon.png">Add to cart</button>
          </div>
        </div>
      </div>

      <!-- Lunch Tab -->
      <div class="menu-tabs__breakfast products-tab" id="lunch-tab">
        <!-- 1-->
        <div class="breakfast-products">
          <div class="breakfast-products__iamge" style="background-image: url(images/plate-chicken.png);">

          </div>
          <div class="breakfast-products__content">
            <img src="images/heart-icon-black.png" height="26px" alt="" />
            <div class="products__description">
              <p>name1</p>
              <p>data</p>
              <p>Price</p>
            </div>
            <button type="button" name="button" ng-click="addToCart()"><img src="images/add-cart-icon.png"> Add to cart</button>
          </div>
        </div>
        <!-- 2-->
        <div class="breakfast-products">
          <div class="breakfast-products__iamge" >

          </div>
          <div class="breakfast-products__content">
            <img src="images/heart-icon-black.png" height="26px" alt="" />
            <div class="products__description">
              <p>name1</p>
              <p>data</p>
              <p>Price</p>
            </div>
            <button type="button" name="button" ng-click="addToCart()"><img src="images/add-cart-icon.png">Add to cart</button>
          </div>
        </div>
      </div>
      <!-- Dinner Tab -->
      <div class="menu-tabs__breakfast products-tab" id="dinner-tab">
        <!-- 1-->
        <div class="breakfast-products">
          <div class="breakfast-products__iamge">

          </div>
          <div class="breakfast-products__content">
            <img src="images/heart-icon-black.png" height="26px" alt="" />
            <div class="products__description">
              <p>name1</p>
              <p>data</p>
              <p>Price</p>
            </div>
            <button type="button" name="button" ng-click="addToCart()"><img src="images/add-cart-icon.png"> Add to cart</button>
          </div>
        </div>
        <!-- 2-->
        <div class="breakfast-products">
          <div class="breakfast-products__iamge">

          </div>
          <div class="breakfast-products__content">
            <img src="images/heart-icon-black.png" height="26px" alt="" />
            <div class="products__description">
              <p>name1</p>
              <p>data</p>
              <p>Price</p>
            </div>
            <button type="button" name="button" ng-click="addToCart()"><img src="images/add-cart-icon.png">Add to cart</button>
          </div>
        </div>
      </div>
      <!-- Salads tab -->
      <div class="menu-tabs__breakfast products-tab" id="salads-tab">
        <!-- 1-->
        <div class="breakfast-products">
          <div class="breakfast-products__iamge">

          </div>
          <div class="breakfast-products__content">
            <img src="images/heart-icon-black.png" height="26px" alt="" />
            <div class="products__description">
              <p>name1</p>
              <p>data</p>
              <p>Price</p>
            </div>
            <button type="button" name="button" ng-click="addToCart()"><img src="images/add-cart-icon.png"> Add to cart</button>
          </div>
        </div>
        <!-- 2-->
        <div class="breakfast-products">
          <div class="breakfast-products__iamge" style="background-image: url(images/plate-chicken.png);">

          </div>
          <div class="breakfast-products__content">
            <img src="images/heart-icon-black.png" height="26px" alt="" />
            <div class="products__description">
              <p>name1</p>
              <p>data</p>
              <p>Price</p>
            </div>
            <button type="button" name="button" ng-click="addToCart()"><img src="images/add-cart-icon.png">Add to cart</button>
          </div>
        </div>
      </div>
      <!-- Salads tab -->
      <div class="menu-tabs__rolls products-tab" id="rolls-tab">
        <!-- 1-->
        <h1>Coming Soon.....</p>
      </div>
    </div>
  </div>

  <!-- location section -->
  <div class="location-section" id="locations">
    <p class="location-section-heading">
      Locations We Deliver
    </p>
    <div class="location-services">
      <div class="location-services__search">
        <p class="location-services-heading">
          Where We Deliver
        </p>
        <input type="serach" name="search-box" class="location-search" placeholder="Ex:Bangalore">
        <div class="location-search-places">
          <img src="images/pin-icon.png" alt="" />
          <div class="search-place__address">
            <p>
              1600 Amphitheatre Parkway Mountain View, CA 94043
            </p>
          </div>
          <div class="search-place__contact">
            <p>hello@basis.com</p>
            <p>+1 650-253-0000</p>
          </div>
        </div>
        <div class="location-search-places">
          <img src="images/pin-icon.png" alt="" />
          <div class="search-place__address">
            <p>
              1600 Amphitheatre Parkway Mountain View, CA 94043
            </p>
          </div>
          <div class="search-place__contact">
            <p>hello@basis.com</p>
            <p>+1 650-253-0000</p>
          </div>
        </div>
        <div class="location-search-places">
          <img src="images/pin-icon.png" alt="" />
          <div class="search-place__address">
            <p>
              1600 Amphitheatre Parkway Mountain View, CA 94043
            </p>
          </div>
          <div class="search-place__contact">
            <p>hello@basis.com</p>
            <p>+1 650-253-0000</p>
          </div>
        </div>
      </div>
      <div class="location-services__map">
        <!-- map servises -->
      </div>
    </div>
  </div>
  <!-- About us section -->
  <div class="aboutus-section" id="about">
    <div class="aboutus-section__content">
      <div class="aboutus-description">
        <h1>About us</h1>
        <p id="descrption-1">
          The kit consists of
          more than a hundred ready-to-use elements that you can combine to get the exact prototype you want
        </p>
        <p id="descrption-2">
          Although, today we’re even more excited to release our Wireframe Kit.
          The name speaks for itself and how you could’ve already guessed,
          Wireframe Kit is a perfect instrument for creating serious prototypes and complex web projects.
          Basically, the kit consists of more than a hundred ready-to-use elements that you can combine to get the exact prototype you want.
          We tried to make it as versatile as possible, at the same time getting rid of all the redundant features to help you save time
        </p>
      </div>
      <div class="vertical-line" style="width:70px;border-right: 1px solid white;margin: 0 11px;">

      </div>
      <div class="aboutus-team">
        <div class="team-member__profile">
          <div class="team-member-image">
            <div class="team-member-image__thumbnail" style="background-image:url(images/fish.png)">

            </div>
          </div>
          <div class="team-member-details">
            <p class="member-name">Lula alexander</p>
            <p class="member-designation">Head Of operation</p>
            <p class="member-strength">
              An excellent way of preparing a project’s wireframe and presenting
            </p>
          </div>
        </div>
        <div class="team-member__profile">
          <div class="team-member-image">
            <div class="team-member-image__thumbnail" style="background-image:url(images/fish.png)">

            </div>
          </div>
          <div class="team-member-details">
            <p class="member-name">Lula alexander</p>
            <p class="member-designation">Head Of operation</p>
            <p class="member-strength">
              An excellent way of preparing a project’s wireframe and presenting
            </p>
          </div>
        </div>
        <div class="team-member__profile">
          <div class="team-member-image">
            <div class="team-member-image__thumbnail" style="background-image:url(images/fish.png)">

            </div>
          </div>
          <div class="team-member-details">
            <p class="member-name">Lula alexander</p>
            <p class="member-designation">Head Of operation</p>
            <p class="member-strength">
              An excellent way of preparing a project’s wireframe and presenting
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Our Partners -->
  <div class="our-partners-section" id="ourpartners">
    <p class="our-partners-title">
      Our Partners
    </p>
    <p class="our-partners-description">
      The kit consists of more than a hundred ready-to-use elements that you can combine to get the exact prototype you want
    </p>
    <div class="partners-logos">
      <img src="images/b-b-c.png" alt="" />
      <img src="images/netflix.png" alt="" />
      <img src="images/forbes.png" alt="" />
      <img src="images/mashable.png" alt="" />
      <img src="images/lifehacker.png" alt="" />
      <img src="images/buzz-feed.png" alt="" />
    </div>
  </div>

  <!-- App store -->
  <div class="app-store">
    <div class="app-store-mobile">
      <img src="images/mobile-app.png" alt="" />
    </div>
    <div class="app-store-content">
      <p class=app-store-heading>
        Download the App & Get 50% off
      </p>
      <p class="app-store-description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,
         when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting.
      </p>
      <div class="app-store-buttons">
        <img src="images/google-play@3x.png" alt="" />
        <img src="images/apple@3x.png" alt="" />
      </div>
    </div>
  </div>

  <!-- blog Section -->
  <div class="blog-section" id="blog">
    <div class="blog-section__header">
      <p>Our Community</p>
      <button type="button" name="button">View All</button>
    </div>
    <div class="blog__content">
      <div class="blog__content__text">
        <p> date</p>
        <div class="content__text">
          <p class="content__text--heading">
            ROASTED SALMON & SUMMER VEG TRAY BAKE
          </p>
          <ul class="comments-location">
            <li>By Gamba Studio /</li>
            <li><img src="images/comments@3x.png" alt="" /> No Comment /</li>
            <li><img src="images/tags@3x.png" alt="" /> Restaurant</li>
          </ul>
          <p class="blog-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s,
             when an unknown printer took a galley of type and scrambled it to make a type specimen book.
             It has survived not only five centuries, but also the leap into electronic typesetting.r
            took a galley of type and scrambled it to make a type specimen book. It has survived not.
          </p>
        </div>
      </div>
      <div class="blog__content__image">
        <img src="images/bitmap@3x.png" alt="" />
      </div>
    </div>
  </div>
  <div class="" id="contact">
    @@include('_footer.html')
  </div>


</div>
