@@include('_header.html')

<div class="prodcut-section">
	<div class="prodcut-section__image">
	<img src="images/buter-chicken.jpg" height="500px">
	</div>
	<div class="prodcut-section__data">
		<div class="row">
			<h1>Product desctiion title comes here...</h1>
		</div>
	</div>
</div>

<div class="desctiion-data">
	<div class="Item-details">
		<div class="tabs clearfix">
			<ul>
				<li class="desc-tab tab activeTab">Item Details</li>
				<li class="desc-tab tab ratingTab">Ratings &amp; Reviews</li>
				<li class="desc-tab tab qnaTab">Questions &amp; Answers</li>
			</ul>
		</div>
	</div>
	<div class="side-bar">
	</div>
</div>
