
  <!-- multistep form -->
  <!-- <form id="msform"  novalidate="" > -->
  	<!-- progressbar -->
    <!-- <div class="step-by-step-process">
      <ul id="progressbar">
    		<li class="active">CART</li>
    		<li>DELIVERY</li>
    		<li>PAYMENT</li>
    		<li>CONFORMATION</li>
    	</ul>
    </div>
  	<fieldset>
      <div class="product-details">
        <div class="product-image">
          <img src="images/LG-G3-D855-32-WH.jpg" alt=""  width="60px" height="80px"/>
        </div>
        <div class="product-title">
          <p> this is new mobie in lG</p>
        </div>
        <div class="product-quantity">
          <input type="number" name="number" class="product-quantity__count" value="1">
        </div>
        <div class="cancel-button">
          <img src="images/close-button@2x.png" alt="" />
        </div>
      </div>
      <div class="product-details">
        <div class="product-image">
          <img src="images/LG-G3-D855-32-WH.jpg" alt=""  width="60px" height="80px"/>
        </div>
        <div class="product-title">
          <p> this is new mobie in lG</p>
        </div>
        <div class="product-quantity">
          <input type="number" name="number" class="product-quantity__count" value="1">
        </div>
        <div class="cancel-button">
          <img src="images/close-button@2x.png" alt="" />
        </div>
      </div>
      <div class="product-details">
        <div class="product-image">
          <img src="images/LG-G3-D855-32-WH.jpg" alt=""  width="60px" height="80px"/>
        </div>
        <div class="product-title">
          <p> this is new mobie in lG</p>
        </div>
        <div class="product-quantity">
          <input type="number" name="number" class="product-quantity__count" value="1">
        </div>
        <div class="cancel-button">
          <img src="images/close-button@2x.png" alt="" />
        </div>
      </div>
  		<input type="button" name="next" class="next action-button" value="To Checkout" />
  	</fieldset>
  	<fieldset>
      <div class="delivery-address">
        <div class="delivery-address--field first-name">
          <label>Name</label>
          <input type="text" ng-model="name" name="name" value="" placeholder="First Name">
        </div>
        <div class="delivery-address--field last-name">
          <label>Company Name</label>
          <input type="text" ng-model="companyName" name="name" value="" placeholder="Last Name">
        </div>
        <div class="delivery-address--field Email Address">
          <label>Address Type</label>
          <input type="text" ng-model="addressType" name="name" value="" placeholder="Email Address">
        </div>
        <div class="delivery-address--field Phone Number">
          <label>Office Number</label>
          <input type="text" ng-model="officeNumber" name="name" value="" placeholder="Phone Number">
        </div>
        <div class="delivery-address--field Phone Number">
          <label>Mobile Number</label>
          <input type="text" ng-model="mobileNumber" name="name" value="" placeholder="Phone Number">
        </div>
        <div class="delivery-address--field Phone Number">
          <label>LandLine Number</label>
          <input type="text" ng-model="landlineNumber" name="name" value="" placeholder="Phone Number">
        </div>
      </div>
      <div class="delivery-address">
        <div class="delivery-address--field first-name">
          <label>Address Line 1</label>
          <input type="text" ng-model="street1" name="name" value="" placeholder="First Name">
        </div>
        <div class="delivery-address--field last-name">
          <label>Address Line 2(optional)</label>
          <input type="text" ng-model="street2" name="name" value="" placeholder="Last Name">
        </div>
        <div class="delivery-address--field last-name">
          <label>Address Line 3(optional)</label>
          <input type="text" ng-model="street3" name="name" value="" placeholder="Last Name">
        </div>
        <div class="delivery-address--field Email Address">
          <label>City</label>
          <input type="text" ng-model="city" name="name" value="" placeholder="Email Address">
        </div>
        <div class="delivery-address--field Email Address">
          <label>state</label>
          <input type="text" ng-model="state" name="name" value="" placeholder="Email Address">
        </div>
        <div class="delivery-address--field Email Address">
          <label>Country</label>
          <input type="text" ng-model="country" name="name" value="" placeholder="Email Address">
        </div>
        <div class="delivery-address--field Phone Number">
          <label>Zip Code</label>
          <input type="text" name="name" ng-model="pincode" value="" placeholder="Phone Number">
        </div>
      </div>
  		<input type="button" name="previous" class="previous action-button" value="Back to Cart" />
  		<!-- <input type="button" name="next" class="next action-button" value="To Checkout" /> -->
  	<!--	<input type="button" name="next" ng-click="addAddress()" class=" action-button" value="Add" />
  	</fieldset>
  	<fieldset>
      <div class="payment-details">
        <div class="delivery-address--field card-number">
          <label>Credit card number</label>
          <input type="text" name="name" value="" placeholder="Card Number">
        </div>
        <div class="delivery-address--field Expiray-date">
          <label>Expiray Date</label>
          <div class="Expiray-date-inputs">
            <input type="text" name="name" value="" placeholder="1234">
            <input type="text" name="name" value="" placeholder="5678">
            <input type="text" name="name" value="" placeholder="9000">
          </div>
        </div>
        <div class="delivery-address--field card-name">
          <label>Name On card</label>
          <input type="text" name="name" value="" placeholder="Name On Card">
        </div>
        <input type="checkbox" value="Save card information">Save card information
      </div>
  		<input type="button" name="previous" class="previous action-button" value="Back" />
  		<input type="button" name="next" class="next action-button" value="To Checkout" />
  	</fieldset>
  	<fieldset>
      <div class="order-placed">
        <div class="order-success">
          <p>Yaay!YOUR ORDER PLACED SUCCESSFULLY</p>
        </div>
      </div>
  		<input type="submit" name="submit" class="submit action-button" value="Go Back To Shop" />
  	</fieldset>
  </form>

</div> -->


@@include('_header.html')
<div class="container checkout-page">
	<div class="row form-group">
    <div class="col-xs-12">
      <ul class="nav nav-pills nav-justified thumbnail setup-panel setup-panel--steps">
        <li class="active">
          <a href="#step-1">
            <h4 class="list-group-item-heading">My Cart</h4>
          </a>
        </li>
        <li class="disabled">
          <a href="#step-2">
            <h4 class="list-group-item-heading">Delivery</h4>
          </a>
        </li>
        <li class="disabled">
          <a href="#step-3">
            <h4 class="list-group-item-heading">Payment</h4>
          </a>
        </li>

        <li class="disabled">
          <a href="#step-4">
            <h4 class="list-group-item-heading">Order Details</h4>
          </a>
        </li>
      </ul>
    </div>
	</div>
  <div class="row setup-content" id="step-1">
    <div class="col-xs-12">
      <div class="col-md-12 checkout-page__forms text-center">
        <form>
          <div class="container">
            <div class="row clearfix">
              <div class="col-md-12 column">
                <div class="checkout-cart-header">
                  <ul class="checkout-cart-header__list col-md-12">
          					<li class="col-md-3">Item</li>
          					<li class="col-md-3">Quantity</li>
          					<li class="col-md-3">Rate</li>
          					<li class="col-md-3"></li>
          				</ul>
                </div>
                <div class="checkout-cart__items col-md-12" ng-repeat="cartList in allCartItems">
                  <div class="checkout-cart__list-description col-md-3">
                    <div class="product-image">
                      <img src="images/seafood-platter-1@3x.png" alt=""  width="50px" height="50px"/>
                    </div>
                    <div class="product-title">
                      <p> {{cartList.product.name}}</p>
                    </div>
                  </div>
                  <div class="checkout-cart__quantity col-md-3">
                    <input type="Button" id='minusButton' value="-" ng-click="updateCartByDecrementing(cartList.quantity, cartList._id)" />
                    <input type="text" name="TextBox" id="TextBox" class="textbox" ng-value="cartList.quantity" ng-model="cartList.quantity" />
                    <input type="Button" id='addButton' value="+" ng-click="updateCartByIncrement(cartList.quantity, cartList._id)"/>
                  </div>
                  <p class="product-cart__price col-md-3"><span>AED</span>{{cartList.product.salePrice * cartList.quantity}}</p>
          				<!-- <p>{{cartList.product.salePrice}}</p> -->
          				<div class="cancel-button col-md-3" style="cursor:pointer">
          					<img src="images/close-button@2x.png" alt="" ng-click="deleteCart(cartList._id,cartList.quantity)"/>
          				</div>
                </div>

 <!-- carts list ends -->
              </div>
            </div>
          </div>
          <div class="checkout-page__button-section">
            <div class="checkout-page_total">
              <!-- <button name="button" class="checkout-page__buttons promo-code_button">Promo Code</button> -->
              <div class="checkout-total_section">
                <p>Total Price</p>
                <p>{{totalCost}}<span>AED</span></p>
              </div>
            </div>
          </div>
        </form>
        <div class="process-button-section">
          <button id="continue-shopping-button" ng-click="continueShipping()" class=" checkout-page__buttons">Continue Shopping</button>
          <button id="activate-step-2" class=" checkout-page__buttons active">Proceed To Checkout</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row setup-content shipping-address" id="step-2">
    <div class="col-xs-12">
      <div class="col-md-12 text-center">
        <h1 class="text-center"> Shipping Information</h1>
				<div>
				<label>Add New Address <input type="radio" ng-click="clearAddress()" ng-value="" ng-checked="addNewAddressRadio"></label>

				<!-- <div ng-show="addNewAddressRadio"> -->
				<div ng-repeat="getMyAddress in getAddressByUserId">
						<label>{{getMyAddress.addressType}} <input type="radio" ng-model="addrestTypeRadio" ng-click="selectedAddress(getMyAddress._id,getMyAddress.addressType)" ng-checked="addrestTypeRadio"></label>
					</div>
					</div>
				<form name="shipping-form" class="shipping__form" ng-submit="addAddress()" ng-show="showAddressType">
						<br/>
						<div class="shipping-form__names" >
							<!-- <input type="text" name="name" value="" class=" form-inputs first-name" placeholder="First Name"> -->
							<input type="text" name="name" id="addressType" class=" form-inputs last-name" ng-model="addressType" placeholder="Address Type">
						</div>
          <div class="shipping-form__names">
            <!-- <input type="text" name="name" value="" class=" form-inputs first-name" placeholder="First Name"> -->
            <input type="text" name="name" value="" class=" form-inputs last-name" ng-model="name" placeholder="Name">
					  <input type="text" name="name" value="" class=" form-inputs telephone" ng-model="landlineNumber" placeholder="Telephone">
          </div>
          <div class="shipping-form__contacts">

            <input type="text" name="name" value="" class=" form-inputs telephone" ng-model="mobileNumber" placeholder="Mobile">
            <input type="text" name="name" value="" class=" form-inputs company-phone" ng-model="companyName" placeholder="Company">
          </div>
          <div class="shipping-form__street">
            <input type="text" name="name" value="" class=" form-inputs Street-address" ng-model="street1" placeholder="Street Address">
          </div>
          <div class="shipping-form__postal">
            <input type="text" name="name" value="" class=" form-inputs city-address" ng-model="city" placeholder="City">
            <input type="text" name="name" value="" class=" form-inputs Zipcode" ng-model="pincode" placeholder="Zipcode">
          </div>
          <div class="shipping-form__location">
            <input type="text" name="name" value="" class=" form-inputs state-name" ng-model="state" placeholder="State">
            <input type="text" name="name" value="" class=" form-inputs country-name" ng-model="country" placeholder="Country">
          </div>
					<div style="margin: 20px 20px 20px 20px;">
						<button class=" checkout-page__buttons" type="submit">Add Address</button>
					</div>
        </form>

				<form name="shipping-form" class="shipping__form" ng-show="addrestTypeRadio">
						<br/>
          <div class="shipping-form__names">
            <!-- <input type="text" name="name" value="" class=" form-inputs first-name" placeholder="First Name"> -->
            <input type="text" name="name" value="" class=" form-inputs last-name" ng-model="name" placeholder="Name">
					  <input type="text" name="name" value="" class=" form-inputs telephone" ng-model="landlineNumber" placeholder="Telephone">
          </div>
          <div class="shipping-form__contacts">

            <input type="text" name="name" value="" class=" form-inputs telephone" ng-model="mobileNumber" placeholder="Mobile">
            <input type="text" name="name" value="" class=" form-inputs company-phone" ng-model="companyName" placeholder="Company">
          </div>
          <div class="shipping-form__street">
            <input type="text" name="name" value="" class=" form-inputs Street-address" ng-model="street1" placeholder="Street Address">
          </div>
          <div class="shipping-form__postal">
            <input type="text" name="name" value="" class=" form-inputs city-address" ng-model="city" placeholder="City">
            <input type="text" name="name" value="" class=" form-inputs Zipcode" ng-model="pincode" placeholder="Zipcode">
          </div>
          <div class="shipping-form__location">
            <input type="text" name="name" value="" class=" form-inputs state-name" ng-model="state" placeholder="State">
            <input type="text" name="name" value="" class=" form-inputs country-name" ng-model="country" placeholder="Country">
          </div>
					<!-- <button class=" checkout-page__buttons" type="submit">Submit</button> -->

        </form>

        <div class="process-button-section">
          <button id="step-back-1" class=" checkout-page__buttons">Back To Cart</button>
          <button id="activate-step-3" class=" checkout-page__buttons active">Proceed To Checkout</button>
        </div>
      </div>
			<!-- <div class="col-md-6 text-center checkout-page__address">
				<p><b>My Address</b></p>
				<div ng-repeat="getAddress in getAddressByUserId">
						<p> {{getAddress.addressType}}</p>
					<p>Address: {{getAddress.street}} {{getAddress.street1}}</p>
					<p>Company Name: {{getAddress.companyName}}</p>
				<p>	Landline No :{{getAddress.landLineNumber}}</p>
					<p>Mobile No: {{getAddress.mobileNumber}}</p>
				<p>	State: {{getAddress.state}}</p>
					<p>City: {{getAddress.city}}</p>
				</div>
			</div> -->
    </div>
  </div>
  <div class="row setup-content" id="step-3">
    <div class="col-xs-12">
      <div class="col-md-12 text-center">
          <h1 class="text-center"> Payment Details</h1>
          <p class="thanks-message">
						<h1 class="text-center"> Thank You For Your Order</h1>
						<form>
							<p class="thanks-message">
								Payment Type : COD
								<div ng-repeat="getAddress in getAddressByUserId">
								We will be delivering to your <p> {{getAddress.addressType}} Address.</p>

									<p>Address Details: {{getAddress.street}} {{getAddress.street1}}</p>
									<p>Company Name: {{getAddress.companyName}}</p>
								<p>	Landline No :{{getAddress.landLineNumber}}</p>
									<p>Mobile No: {{getAddress.mobileNumber}}</p>
								<p>	State: {{getAddress.state}}</p>
									<p>City: {{getAddress.city}}</p>
								</div>
							</p>
						</form>
          </p>
					<form  action="http://ec2-35-164-152-22.us-west-2.compute.amazonaws.com:9000/api/checkout/makePayment" method="POST">
						<div >
						  <input type="hidden" name="UserID" ng-value="getUserId"><br>
						   <input type="hidden" name="coupon"><br>
							  <input type="hidden" name="ip" value="192.168.1.1"><br>
						  	<input type="hidden" name="paymentMethod" value="1"><br>
							   <input type="hidden" name="address" ng-value="addressId"><br>
							   <input type="hidden" name="billingAddress" ng-value="addressId"><br>
							   <input type="hidden" name="returnURL" value="http://ec2-35-164-152-22.us-west-2.compute.amazonaws.com/bluerabbit-angularjs/#/landing"><br>
							  <!-- <input type="submit" value="Submit"> -->
							</div>
          <div class="process-button-section process-button-section__center">
            <!-- <button id="step-back-1" class=" checkout-page__buttons">Back To Cart</button> -->
            <button type="submit" id="activate-step-4" class=" checkout-page__buttons active">Proceed To Payment</button>
          </div>
						</form>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="step-4">
    <div class="col-xs-12">
      <div class="col-md-12 text-center">
          <h1 class="text-center"> Thank You For Your Order</h1>
          <form>
            <p class="thanks-message">
              The wide ranging nature of items and practices to which the term creative can be sensibly applied also makes a
              straightforward definition difficult
            </p>
          </form>
          <div class="process-button-section process-button-section__center">
            <!-- <button id="step-back-1" class=" checkout-page__buttons">Back To Cart</button> -->
            <button  class=" checkout-page__buttons print-recipt__button active">Print Recipt</button>
          </div>
      </div>
    </div>
  </div>
</div>
@@include('_footer.html')
