/*-------------------------------------------------
FONTS: FAMILY :: Chivo-Regular
-------------------------------------------------*/
@font-face {
    font-family: 'Chivo-Regular';
    src: url('../fonts/Chivo-Regular.ttf');
    src: url('../fonts/Chivo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------------
FONTS: FAMILY :: Chivo-Black
-------------------------------------------------*/
@font-face {
    font-family: 'Chivo-Black';
    src: url('../fonts/Chivo-Black.ttf');
    src: url('../fonts/Chivo-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
