<div class="modal bd-example-modal-lg" id="loginmodal" ng-controller="loginController" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-container" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-container__body">
        <div ng-show="erroralert" style="padding-bottom: 10px; color: red;">
        {{errorMessage}}
      </div>
        <form class="loginform" ng-submit="loginform()" name="krazyloginform" method="POST" novalidate>
          <div class="loginform__manually">
            <div class="loginForm--fields">
              <div class="loginForm__inputs loginForm__username">
                <input type="text" class="loginForm__inputs--username" name="username" ng-model="email" placeholder="Email Address" required>
              </div>
              <div class="loginForm__inputs loginForm__password">
                <input type="password" class="loginForm__inputs--password" name="username" ng-model="password" placeholder="Password" required>
              </div>
              <p><a href="#forgotpassword" data-toggle="modal" ng-click="closeModal()">Forgot password</a></p>
            </div>
            <button class="modal__submit" type="submit">Login</button>
          </div>
          <div class="social-login__buttons">
            <div class="social-login__connect facebook" ng-click="loginFB()">
              <p>Facebook</p>
            </div>
            <a href="http://ec2-54-187-15-116.us-west-2.compute.amazonaws.com:9000/auth/google" ng-click="googlePlusLogin">
              <div class="social-login__connect google">
                <p>Google +</p>
              </div>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
