.checkout-page {
	margin-top: 30px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #6f9d2f !important;
	border-radius: 40px;
}

.setup-panel--steps {
	padding: 0 !important;
	border-radius: 22px !important;
}

.checkout-page__forms {
	padding: 20px;
	margin-bottom: 30px;
}

.checkout-cart-header__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eeeeee;

	li {
		font-family: $font-Lato-bold;
		font-size: 12px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: 1.2px;
		color: #515356;
	}
}

.checkout-cart__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eeeeee;
	padding: 15px 0;
	margin-bottom: 20px;
}

.checkout-cart__list-description {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.checkout-cart__quantity {
	.textbox {
		width: 54px;
		height: 46px;
		border: 1px solid #dddddd;
		background-color: #fff;
		margin: 0 8px;
		text-align: center;
	}
	#minusButton,
	#addButton {
		border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	}
}

.checkout-page__buttons {
	width: 290px;
  height: 46px;
  object-fit: contain;
  border-radius: 40px;
  border: solid 1px #dddddd;
	background: none;
	font-family: $font-Lato-regular;
  font-size: 20px;
  color: #b1b1b1;

	&:hover,
	&:active {
	 background-color: #fbad18;
	 color: #fff;
	}
}

.checkout-page_total {
	display: flex;
  justify-content: space-between;
	align-items: baseline;
	margin: 20px 10px;

	.checkout-total_section {
		display: flex;
    width: 167px;
    justify-content: space-between;
	}
}

.process-button-section {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	margin-bottom: 60px;
}
.process-button-section__center {
	justify-content: center;
}
.print-recipt__button {
	border: solid 1px #fbad18;
	color: #fbad18
}

//shipping section
.shipping__form {
	margin-bottom: 36px;
}
.form-inputs  {
	width: 425px;
  height: 46px;
	border: none;
  background-color: #eeeeee;
	margin-top: 20px;
	padding: 10px;
	font-family: $font-Lato-bold;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1px;
  color: #b1b1b1;
}

.Street-address{
	 width: 854px;
}

.thanks-message {
	font-family: $font-Lato-regular;
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: 0.2px;
	text-align: center;
	color: #b1b1b1;
}

.checkout-page__address{
		display: flex;
    flex-direction: column;
    position: relative;
    top: 36px;
}

// drop down address section
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 7px 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
	  border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
	  margin: 13px 12px 14px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.vis {
    display: none;
}

.address-box {
	width: 440px;
	height: 140px;
	border: 5px solid #e40046;
	opacity: 1.5;
	background-color: #f5f5f5;
	    border-radius: 15px;
}

.address-button{
	width: 130px;
height: 36px;
border-radius: 40px;
border: none;
background-color: #64922a;
color: white;
font-size: 13px;
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: center;
justify-content: center;
cursor: pointer;
}

.add-address-button {
	padding: 11px;
display: flex;
justify-content: flex-start;
}

.address-content {
	padding: 15px;
		height: 30px;
	font-family: Lato;
	font-size: 14px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	/* text-align: left; */
	color: #515356;
}

.address-type{
	font-family: Lato;
font-size: 28px;
font-weight: 300;
/* font-style: normal; */
/* font-stretch: normal; */
line-height: 1.02;
/* letter-spacing: normal; */
color: #d92e4a;
}

// material design for checkobox
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
