.modal-container {
  margin: 150px auto !important;
}

// .modal-backdrop {
//   display:none !important;
// }
//
// .modal {
//   background: rgba(73, 73, 73, 0.78);
//   bottom: 0;
//   display: none;
//   left: 0;
//   opacity: 1;
//   position: fixed;
//   right: 0;
//   top: 0;
//   z-index: 1;
// }

#signup_logo {
  width: 90px;
  position: absolute;
  left: 50%;
  margin-left: -45px;
  top: -45px;
  background-color: #fff;
  border-radius: 50%;
  padding: 9px;
}

.modal-container__body {
  padding: 30px 20px !important;
}

.loginform {
  display: flex;
  justify-content: space-between;
}

.loginForm__inputs {
  margin-top: 10px;
  input {
    background-color: #fff;
    border-radius: 2px;
    border: solid 1px #ceced2;
    font-size: 1em;
    font-family: $font-Lato-regular;
    height: 32px;
    margin-bottom:16px;
    padding-left: 11px;
    position: relative;
    width: 260px;
  }
}

.modal__submit {
  background-color: #e40046;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-family: $font-Lato-bold;
  font-size: 1em;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 260px;
}

//social loginForm

.social-login__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-login__connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font-Lato-bold;
  font-size: 0.75em;
  border-radius: 3px;
  height: 42px;
  text-transform: uppercase;
  width: 260px;
  margin-bottom: 15px;
}

.facebook {
  background: #3b5998;
  color: #fff;
  padding-top: 10px;
}
.google {
  background: #f64925;
  color: #fff;
  padding-top: 10px;
}
