.section-header-menu {
  background-color: rgba(81, 83, 86, 0.85);
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 65px;
  opacity: 0.5;
}

.banner-wrap {
  height: 420px;

  .banner-img {
    margin:auto;
    width: 100%;
    height: 420px;
    z-index:0;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.carousel-indicators li,
.carousel-indicators .active {
    margin: 1px 6px!important;
}

a.no-underline:hover {
  text-decoration: none;
}

.header-menu__list,
.search_favorites {
  display: flex;
  align-items: center;

  p {
    margin: 10px 15px;
    font-size: 12px;
    letter-spacing: 2.4px;
    color: white;
    text-transform: uppercase;
    font-family: $font-Lato-regular;
    cursor: pointer;

    a{
      color: white;
      text-decoration: none;

      &:hover, &.active {
        color: #d8d8d8;
      }
    }
  }
}
.search_favorites {
  img {
    height: 15px;
    cursor: pointer;
  }
}

.search-box {
  display: none;
  border: none;
  font-size: 18px;
  width: 86%;
  position: absolute;
  height: 36px;
  background-color: #fff;
  right: 14%;
  left: 0;
  padding: 0 35px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  outline: none;
}
.close-icon {
  display: none;
  position: relative;
  height: 15px;
  cursor: pointer;
}


//social-logins
.social-images {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 210px;

  img {
    height: 18px;
  }
}

.fb-btn {
  width: 40px;
  background-color: #3c5a96;

  &:before {
    border-top: 0px solid #3c5a96;
    border-left: 18px solid #3c5a96;
  }
  &:after {
    border-bottom: 0px solid #3c5a96;
    border-left: 18px solid #3c5a96;
  }
  p {
    display: none !important;
    color:white !important;
    font-size: 12px !important;
  }
  &:hover {
    width: 90px;
    p{
      display: block !important;
      margin-top: 5px !important;
    }
  }
}

.tw-btn {
  width: 41px;
  background-color: #59adeb;

  &:before {
    border-top: 0px solid #59adeb;
    border-left: 18px solid #59adeb;
  }
  &:after {
    border-bottom: 0px solid #59adeb;
    border-left: 18px solid #59adeb;
  }

  p {
    display: none !important;
    color:white !important;
    font-size: 12px !important;
  }
  &:hover {
    width: 100px;
    p{
      display: block !important;
      margin-top: 5px !important;
    }
  }
}

.google-btn {
  width: 41px;
  background-color: #da5047;

  &:before {
    border-top: 0px solid #da5047;
    border-left: 18px solid #da5047;
  }
  &:after {
    border-bottom: 0px solid #da5047;
    border-left: 18px solid #da5047;
  }
  p {
    display: none !important;
    color:white !important;
    font-size: 12px !important;
  }
  &:hover {
    width: 90px;
    p{
      display: block !important;
      margin-top: 5px !important;
    }
  }
}
.instagram-btn {
  width: 41px;
  background-color: #ab4496;
  background: linear-gradient(to left, #c7357d, #8054b1);

  &:before {
    border-top: 0px solid #c7357d;
    border-left: 18px solid #c7357d;
  }
  &:after {
    border-bottom: 0px solid #c7357d;
    border-left: 18px solid #c7357d;
  }
  p {
    display: none !important;
    color:white !important;
    font-size: 12px !important;
  }
  &:hover {
    width: 90px;
    p{
      display: block !important;
      margin-top: 5px !important;
    }
  }
}

.fb-btn,
.tw-btn,
.google-btn,
.instagram-btn{
  margin-top: 5px;
  height: 30px;
  color:white;
  text-align: center;
  padding: 8px 0;
  position: relative;
  margin-left: -6px;
  transition: 0.3s margin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    border-bottom: 18px solid transparent;
    width: 0;
    height: 0px;
    right: -18px;
    top: 0px;
    z-index: -1;
  }
  &:after {
    content: '';
    position: absolute;
    border-top: 18px solid transparent;
    width: 0;
    height: 0px;
    right: -18px;
    bottom: 0px;
    z-index: -1;
  }

  &:hover {
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
  }
}


//main-section
.section-main-content {
  // background-image:url(../images/section1-bg.png);
  //height:500px;
  background-repeat:round;
}

.section-content {
  // background-image: url(../images/section1-bg.png);
  // height:500px;
  // background-repeat:round;
  //  margin-top: -20px;
  // margin-top: 100px;
  // margin-left: 110px;
  // display: inline-block;

  h2 {
    font-family: $font-Lato-Light;
    font-size: 52px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    color: #d92e4a;
  }

  p {
    display: inline-block;
    font-family: $font-Lato-regular;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: #b1b1b1;
    // height: 84px;
  }
}

.buy-now-button {

  button {
    width: 160.3px;
    height: 40px;
    object-fit: contain;
    border-radius: 40px;
    background-color: #64922a;
    border: none;
    color: #fff;
    font-size: 12px;
    // display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 17px;
      margin-right: 18px;
    }
  }

}



//slider-section
.slider-section {
  // background-image:url(../images/slider-bg.png);
  background-repeat:round;
  padding: 15px 100px;
  background-color: #eff4f6;
}

.slider-control {
  display: block;
  text-align: right;
  padding: 18px 10px;

  > img {
    border-radius: 50%;
    cursor: pointer;
    &:hover { background-color: #c5c5c5; }
  }
}

//Tab-section
.tab_section {
  background-image: url(../images/tab-section-bg.png);
  background-repeat: no-repeat;
  padding: 41px 100px;
  background-size: cover;
  background-position: center;

  h1 {
    font-size: 52px;
    color: $color-white;
    letter-spacing: -1.2px;
    font-weight: 300;
    font-family: $font-Lato-Light;
  }
}

.menu-tabs__list {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;

   li a{
     color: $color-white;
     font-size: 12px;
     letter-spacing: 1.5px;
     font-family: $font-Lato-regular;
     font-weight: 300;
     text-transform: uppercase;
     font-style: normal;
     font-stretch: normal;
   }

   a:hover,
   a.active {
      color: #dbe272;
      border-bottom: 1px solid #dbe272;
      text-decoration: none;
      padding-bottom: 10px;
    }

   button {
    background: none;
    height: 36px;
    border: 1px solid;
    border-radius: 40px;
    border: solid 1px #dbe272;
    width: 117px;
    color: #dbe272;
   }

}

.menu_slider_control {
  display: block;
  text-align: right;
  margin-top: 22px;
  width: 76px;
  float: right;
  margin-left: 28px;
}

.menu-tabs__breakfast {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.menu-tabs__products-list {
  position: relative;

  .arrow {
    position: absolute;
    top:50%;
    margin-top: -24px;

    &.arrow_left {
      left: -50px;
    }
    &.arrow_right {
      right: -50px;
    }
  }
}

.breakfast-products {
  background-color: white;
  display: flex;
  min-width: 490px;
  width: 49%;
  height: 180px;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 0 2px 15px 5px rgba(4, 4, 4, 0.54);
  }
}

// .breakfast-products :hover {
//   box-shadow: 0 2px 15px 5px rgba(4, 4, 4, 0.54);
// -webkit-transition: box-shadow .2s cubic-bezier(.15,.69,.83,.67);
// transition: box-shadow .2s cubic-bezier(.15,.69,.83,.67);
// }
.breakfast-products__image {
  // background-image: url(../images/fish.png);
  width: 55%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
// .breakfast-products__image:hover{
//   box-shadow: 0 2px 15px 5px rgba(4, 4, 4, 0.54);
//   -webkit-transition: box-shadow .2s cubic-bezier(.15,.69,.83,.67);
//   transition: box-shadow .2s cubic-bezier(.15,.69,.83,.67);
// }

.breakfast-products__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > img {
    height: 20px;
  }

  button {
		width: 130px;
		height: 35px;
		border-radius: 40px;
		border: none;
		background-color: #64922a;
		color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      height: 12px;
      margin-right: 10px;
      cursor: pointer;
    }
	}
}

// .breakfast-products__content:hover{
//   box-shadow: 0 2px 15px 5px rgba(4, 4, 4, 0.54);
//   -webkit-transition: box-shadow .2s cubic-bezier(.15,.69,.83,.67);
//   transition: box-shadow .2s cubic-bezier(.15,.69,.83,.67);
// }

.products__description {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    font-family: $font-Lato-black;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.17;
    color: #515356;
    margin-bottom: 6px;
  }
}

.products__price {
  font-family: $font-Lato-regular!important;
  color: #d92e4a !important;
}
.text-black {color: #000!important}
.strike {text-decoration: line-through;}
.products__offer {
  font-family: $font-Lato-regular!important;
  font-size: 12px;
  > span {
    margin: 0 5px!important;
  }
}

//location-section
.location-section {
  background-image: url(../images/location-services-bg.png);
  height:760px;
  background-repeat:round;
  padding: 32px 100px;
}

.location-section-heading {
  font-family: $font-Lato-Light;
  font-size: 52px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -1.2px;
  color: #333333;
  margin-bottom: 20px;
}

.location-services {
  background-color: #dbe272;
  width: 100%;
  height:590px;
  box-shadow: 0px 3px 5px 5px rgba(136, 136, 136, 0.11);
  display: flex;
}

.location-services-heading {
  font-family: $font-Lato-black;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
}

.location-search {
  width: 485px;
  height: 45.6px;
  padding: 10px;
  object-fit: contain;
  border-radius: 100px;
  background-color: #eff4f6;
  border: none;
  outline: none;
  background-image: url(../images/location-search.png);
  background-repeat: no-repeat;
  background-size: 3%;
  background-position: right 21px center;
}

.location-services__search {
  width: 50%;
  padding: 35px 0 35px 35px;
  overflow: scroll;
}

.location-search-places {
  display: flex;
  // padding: 13px 0px 10px;
  border-bottom: 1px solid white;
  margin-bottom: 14px;

  img {
    height: 52px;
  }

  p {
    width: 200px;
    font-family: $font-Lato-regular;
    font-size: 13px;
    line-height: 1.33;
    margin: 0px;
    letter-spacing: 0.2px;
    color: #474442;
  }

  &:last-child {
    border-bottom: none;
  }
}

.search-place__address {
  width: 47%;
}

.location-services__map {
  width: 50%;
  // background-image: url(../images/map@3x.png);
  background-size: 107%;
  background-repeat: no-repeat;
  margin-left: 58px;
}

//abouts-section
.aboutus-section {
  background-color: #d42841;
  // height:468px;
  background-image: url(../images/aboutus-icon.png);
  background-repeat: no-repeat;
  background-size: 18%;
  background-position: right;
  padding: 72px 84px;
}

.aboutus-section__content {
  //position: absolute;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
      height: 468px;
}

.aboutus-description {
  width: 46%;
  overflow: scroll;
  h1 {
    font-size: 52px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: -1.3px;
    color: #ffffff;
    margin: 0;
    height: 72px;
  }
}

#descrption-1 {
  width: 530px;
  height: 91px;
  font-family: Lato-Regular;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #f8f8f8;
}
#descrption-2 {
  width: 508px;
  height: 176px;
  font-family: Lato-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.2px;
  color: #f8f8f8;
}

.aboutus-team {
  margin-top: 35px;
  width: 33%;
  overflow: scroll;
}

.team-member__profile {
  display: flex;
}

.team-member-image,
.team-member-image__thumbnail {
  width: 55px;
  height: 55px;
}

.team-member-image {
  border: 1px solid #dddddd;
  border-radius: 100%;
  margin-right: 24px;
}

.team-member-image__thumbnail {
  background-image: url(images/fish.png);
  background-size: 63%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  //margin-top: 4px;
}

.member-name {
  text-transform: uppercase;
  margin: 0;
}
.member-name ,
.member-designation {
  font-family: $font-Lato-bold;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #dbe272;
}
.member-strength {
  width: 170px;
  font-family: $font-Lato-regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #f8f8f8;
}

//our-partners-section
.our-partners-section {
  height: 333px;
  object-fit: contain;
  background-color: #f3f7f8;
  padding: 34px 100px;
}
.our-partners-title {
  font-family: $font-Lato-Light;
  font-size: 52px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: -1.3px;
  color: #474442;
}
.our-partners-description {
  font-family: $font-Lato-regular;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #acbec6;
  margin: 20px 0;
}
.partners-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  img {
    height: 25px;
  }
}

//App-store
.app-store {
  background-image: url(../images/app-store-bg.png);
  height:550px;
  background-repeat:round;
  padding: 36px 33px 0px 26px;
  display: flex;
}

.app-store-mobile {
  margin-top: 11px;
  margin-left: 20px;
  img {
    height: 540px;
  }
}

.app-store-content {
  padding: 27px 50px;
}
.app-store-heading {
  width: 538px;
  font-family: $font-Lato-Light;
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.6px;
  color: #ffffff;
}
.app-store-description {
  width: 453px;
  height: 132px;
  opacity: 0.8;
  font-family: $font-Lato-regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.app-store-buttons {
  display: flex;
  margin-top: 50px;

  img {
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
  }
}

//blog section
.blog-section {
  background-image: url(../images/blog-bg.png);
  height:508px;
  background-repeat:round;
  padding: 32px 100px;
  //position: relative;
}
.blog-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-family: $font-Lato-Light;
    font-size: 52px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: -1px;
    color: #474442;
  }

  button {
    width: 125px;
    height: 36.4px;
    border-radius: 40px;
    border: solid 1px #d42841;
    background: none;
    font-family: $font-Lato-regular;
    font-size: 10px;
    letter-spacing: 2px;
    text-align: center;
    color: #d42841;
  }
}

.blog__content {
  display: flex;
}

.blog__content__text {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.content__text {
  padding: 0 30px;
}

.content__text--heading {
  opacity: 0.5;
  font-family: $font-Lato-regular;
  font-size: 24px;
  letter-spacing: -0.6px;
  color: #000000;
}

.comments-location {
  display: flex;
  padding: 8px 0;

  li {
    opacity: 0.5;
    font-family: $font-Lato-regular;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #000000;

    img {
      height: 10px;
    }
  }
}

.blog-description {
  opacity: 0.5;
  font-family: $font-Lato-regular;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #50545c;
}

.blog__content__image {
  img {
    height: 406px;
  }
}

// slider
// .img-circle {
// 	border-radius: 0;
// }
// h1 {
//   color: #3498db;
// }
// .carousel-inner .active.left {
//   left: -25%;
// }
// .carousel-inner .next {
//   left:  25%;
// }
// .carousel-control {
//   width:  4%;
// }
// .carousel-control.left,.carousel-control.right {
//   margin-left:15px;
//   background-image:none;
// }

#scroll-menu-fixed{
 z-index: 5;
 position:fixed;
 top:0;
 right:0;
 left:0;
}

#carousel-wrap {
  // width: 100%;
  overflow: hidden;
  text-align: center;
  left: 223px;

}

#testimonial-list {
  //overflow: hidden;
  // width: 100%;
  display: inline-flex;
  margin-left: 10px;

  .slide-list {
    width: 248px;
    padding: 0 10px;


    .article_image {
      min-height: 100px;
      width: 100%;
      margin-top: 10px;
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
    }
//     .article_image:hover{
//       box-shadow: 0 2px 15px 5px rgba(4, 4, 4, 0.54);
// -webkit-transition: box-shadow .2s cubic-bezier(.15,.69,.83,.67);
// transition: box-shadow .2s cubic-bezier(.15,.69,.83,.67);
//     }
    .bestoffertext {
      font-size: 14px;
      color: #515356;
      padding: 12px 0;
      text-align: left;
      padding-bottom: 46px;
      position: relative;

      .context {
        overflow: hidden;
        font-weight: 900;
      }

      .creds {
        line-height: 30px;
        margin-bottom: 0px;
        font-weight: normal;
        margin-left: 7px;
      }

      button {
        width: 100%;
        bottom: -10px;
        color: #fff;
        height: 31px;
        font-size: 12px;
        border: none;
        border-radius: 40px;
        background-color: #d92e4a;
        position: relative;
        width: 200px;
      }
    }
  }
    .slide-list:hover {
      box-shadow: 0 2px 15px 2px rgba(4, 4, 4, 0.54);
      -webkit-transition: box-shadow .2s cubic-bezier(.15,.69,.83,.67);
      transition: box-shadow .2s cubic-bezier(.15,.69,.83,.67);
    }
}
.l1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.l2 {
  line-height: 1.5em;
  max-height: 3em;
  overflow: hidden;
}

//caurocel new
.carouselbox {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  width: 100px;
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
}
.content {
  margin: 0;
  padding: 0;
}
.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  z-index: 2;
}
// .active {
//   height: 130px;
// }
// .active li {
//   position: absolute;
//   top: 200px;
// }
// .active li.current {
//   top: 30px;
// }
.buttons {
  display: none;
}
.active .buttons {
  display: block;
  padding: 5px 0;
  background: #eee;
  z-index: 10;
  position: relative;
}
.carouselbox button {
  border: none;
  visibility: hidden;
}
.active button {
  visibility: visible;
}
.offscreen {
  position: absolute;
  left: -2000px;
}

.blog-date{
  width: 54px;
height: 57px;
opacity: 0.3;
font-family: Lato;
font-size: 48px;
font-weight: 900;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: -1.2px;
color: #000000;
    margin-right: -25px;
}

.blog-year{
  width: 57px;
height: 16px;
opacity: 0.4;
font-family: Lato;
font-size: 13px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #000000;
      margin-top: 42px;
}

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}
// .shadow-effect:hover {
//   box-shadow: 0 2px 15px 5px rgba(4, 4, 4, 0.54);
//   -webkit-transition: box-shadow .2s cubic-bezier(.15,.69,.83,.67);
//   transition: box-shadow .2s cubic-bezier(.15,.69,.83,.67);
// }

.category-left-arrow{
  color: white;
font-size: 21px;
cursor: pointer;
// position: relative;
// right: 27px;
// top: 52px;
}

.category-right-arrow {
  color: white;
font-size: 22px;
position: relative;
bottom: 8px;
cursor: pointer;
}

//meadi queries for slider
/*-------------------------------------------------
Media Quriers: Tablet to Desktop
-------------------------------------------------*/



/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    #testimonial-list .slide-list {
        width: 249px;
        padding: 0 10px;
        height: 240px;
    }
    .slider-section {
          padding: 15px 95px;
    }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    #testimonial-list .slide-list {
        width: 249px;
        padding: 0 10px;
        height: 240px;
    }
    .slider-section {
          padding: 15px 95px;
    }
}

@media only screen
and (min-width : 1224px) {
  .slider-section {
        padding: 15px 80px;
  }
}

@media only screen
and (min-width : 1398px) {
  .slider-section {
        padding: 15px 78px;
  }
}

@media only screen
and (min-width : 1440px) {
  .slider-section {
        padding: 15px 96px;
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
  .slider-section {
        padding: 15px 200px;
  }
}
/*-------------------------------------------------
Media Quriers: Tablet to Desktop
-------------------------------------------------*/


/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
 {
    #testimonial-list .slide-list {
        width: 259px;
        padding: 0 10px;
        height: 240px;
    }
    .slider-section {
          padding: 15px 180px;
    }
}
