/*-------------------------------------------------
SMACSS: PAGE - LANDING
-------------------------------------------------*/
.prodcut-section {
	display:flex;
}

.prodcut-section__image {
	background-color:white;
	height: 550px;
	width:50%;
	border-radius:3px;
	margin: 20px 1px 20px 20px;
	border: 1px solid #efefef;
}
.prodcut-section__data {
	background-color:white;
	height: 550px;
	width:50%;
	border-radius:3px;
	margin: 20px 20px 20px 0px;
	border: 1px solid #efefef;
}

.desctiion-data {
	display:flex;
}

.Item-details {
	margin: 20px 20px 20px 20px;
	background-color:white;
	height:200px;
	width:80%;
}

.side-bar {
	margin: 20px 20px 20px 0px;
	background-color:white;
	height:200px;
	width:20%;
}

.tabs ul {
	display:flex;
	justify-content:space-around;
	padding:30px;
	border-bottom: solid 1px #efefef;
}
