.search-order-section {
  display: flex;
}

.search-page {
  width: 70%
}

.search-list-dropdown {
  left: 7px;
  position: absolute;
  top: 143px;
  width: 50%;
  z-index: 1;
  width: 692px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  li {
    height: 40px;
    font-family: $font-Lato-black;
    font-size: 13px;
    font-weight: 500;
    color: #000000;
    display: flex;
    align-items: center;
      padding: 20px;

    &:hover {
      //opacity: 0.2;
      background-color: #d8d8d8;
    }
  }
}

.sub-menu {
  display: flex;
  height: 46px;
  img {
    height: 15px;
  }
}

.sub-menu__search {
  background-color: #929396;
  width: 80%;
  padding: 10px;
  display: flex;
  align-items: center;
  color: white;
}
.cart__search {
  height: 35px;
  border: none;
  background: none;
  width: 100%;
  outline: none;
  color: white;
  margin-left: 15px;
}

.sub-menu__favorites {
  display: flex;
  justify-content: space-around;
  color: white;
  width: 20%;
  text-align: center;
  background-color: #636467;
  align-items: center;
  padding: 0 32px;

  p{
    margin: 0;
  }

}

.search-page__tab-menu {
  padding: 12px;
  height: 58px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(207, 207, 207, 0.5);
}

.search-page__tab-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;

  li a {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    font-family: $font-Lato-Semibold;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0.6;
  }
}

.product-view {
  display: flex;
  align-items: center;
  p{
    margin:0 5px;
    cursor: pointer;
    color: #e40046;
  }
  img {
    cursor: pointer;
  }
}

.search-secction {
  //box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  height: auto;
  min-height: 900px

}
.search-secction__content{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 10px;
}
.search-secction__data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 10px;
}

.search-section__image,
.image__thumbnail {
  width: 131px;
  height: 85px;
}
.image__thumbnail {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.search-section__description {
  .product-name {
    font-size: 10px;
    text-transform: uppercase;
    color: #b1b1b1;
    font-family: $font-Lato-black;
    font-weight: 900;
    letter-spacing: 1px;
  }
  .product-sub-title {
    font-family: $font-Lato-regular;
    font-size: 15px;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: #515356;
  }

  img {
    height: 15px;
  }
  #view-more {
    opacity: 0.5;
    font-family: $font-Lato-black;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #000000;

    &:active {
      color: #d92e4a;
      opacity: none;
      font-size: 12px;
      border-bottom: 1px solid #d92e4a;
    }
  }
}

.product-price {
  font-family: $font-Lato-bold;
  font-size: 23px;
  font-weight: bold;
  color: #515356;

  span {
    font-size: 13px;
  }
}

.description__section {
  margin-top: 20px;
  padding: 0;
  height: auto;
  //display: none;
  .description__section--header {
    display: flex;
    background-color: #eff4f7;
    height: 56px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    padding: 15px;

    .description-list {
      width: 432px;
      display: flex;
      justify-content: space-between;
    }
  }

  .description-list {
    font-family: $font-Lato-black;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #636567;
    span {
      opacity: 0.2;
      color: #979797;
    }
  }

  .description__section--content {
    background-color: #f8f9fc;
    padding: 10px 20px;
    opacity: 0.7;
    font-family: $font-Lato-regular;
    font-size: 12px;
    color: #636567;

    .product-name {
      font-size: 24px;
      color: #636567;
      font-family: $font-Lato-regular;
    }
  }
}

.search-secction__buttons {
  button {
    width: 130px;
    height: 36px;
    background-color: #d92e49;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.order-section {
  width: 30%;
  box-shadow: 0 16px 34px 7px rgba(121, 121, 121, 0.1);
  height: auto;
  min-height: 900px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}

.cart-section__header {
  background-color: #719c31;
  height: 97px;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 75px;
  font-family: $font-Lato-black;
   font-size: 12px;
   font-weight: 900;
   letter-spacing: 2.4px;
   text-align: center;
   color: #ffffff;
}

.cart-section__sub-header {
  height: 36px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);

  .cart-header__list {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    opacity: 0.5;
   font-family: $font-Lato-black;
   font-size: 12px;
   font-weight: 900;
   font-style: normal;
   font-stretch: normal;
   color: #373738;
    li:first-child {
      width: 26%;
    }
  }
}

.cart-section__data {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .product-item__name {
    width: 35%;
    font-family: $font-Lato-Semibold;
    font-size: 12px;
    font-weight: 600;
    color: #636467;
  }

  .cart__quantity {

    #minusButton,
    #AddButton{
      border-radius: 50%;
      border: none;
      width: 23px;
      height: 25px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    }
    .textbox {
      background: none;
      border: none;
      width: 20px;
      text-align: center;
    }
  }
}

.product-cart__price {
  font-family: $font-Lato-bold;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #d92e4a;
  span {
    font-size: 6px;
  }
}

.cancel-button {
  img {
    height: 11px;
  }
}

.cart-section__footer {
  background: #fff;
  width: 30%;
  position: fixed;
  right: 0;
  //top: 0;
  bottom: 0;

  .total-section {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    font-family: $font-Lato-regular;
    font-size: 18px;
    font-weight: normal;
    color: #636467;

    .total-section__cost {
      font-family: $font-Lato-bold;
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 1px;
      color: #d92e4a;
    }
  }

  button {
    width: 100%;
    height: 56px;
    border: none;
    background-color: #fbad18;
    color: #fff;
    font-family: $font-Lato-bold;
    font-size: 20px;
  }
}


//To-do to move top
.nav-arrow {
  position: absolute;
  width: 34px;
  height: 43px;
  top: 155px;
  cursor: pointer;
  font-size: 24px;
  color: #e40046;
  text-align: center;
}

.left-arrow {
  background: #fff;
  left: 0;
  border-right: 1px solid rgba(151, 151, 151, 0.39);
}
.right-arrow {
  background: #fff;
  right: 30%;
  border-left: 1px solid rgba(151, 151, 151, 0.39);
}
